[2013-01-05 19:43] minad opened #3 "Merge with msgpack-jruby"
See https://github.com/iconara/msgpack-jruby/issues/3

[2013-02-14 02:38] nilsonsfj opened #4 "Segfaults on very large message on 0.5.2 and 0.5.1 (works fine on 0.4.7)"
I think I've found a bug in the newest (0.5.2 and 0.5.1) versions on the msgpack-ruby library when serializing very large messages. I'm running under MRI 1.9.3 and I've tried it both on p327 and p374 (and the issue happens on both). Using version 0.4.7 works fine.

I couldn't come up with a minimum working test case, but I do have a very large one which I've uploaded here: http://vps.nilson.org/te

[2013-02-14 04:54] #4 closed, assigned to nobody

[2013-02-27 01:29] nickh opened #7 "Automatic UTF-8 string encoding in Ruby 1.9 can cause unexpected results"
If encoding is available, unpacked strings are always encoded using UTF-8.  This can cause problems if the packed string data was meant to use a different encoding such as ASCII-8BIT.  For example,

[code]

[2013-03-19 16:29] fbehrens opened #8 "ruby 2.0 compatibility"
i am using msgpack on windows,
so it would be nice if it would work under 2.0.

[code]

[2013-04-27 00:31] vjoel opened #9 "hang in readpartial"
$ ruby -v
ruby 2.0.0p0 (2013-02-24) [i686-linux]

The following code hangs in readpartial:

[code]

You can get around this by any of the following
1. use Marshal instead of MessagePack
2. skip the first dump/load pair
3. use fork instead of thread
4. sleep briefly before the final load

You can see these in action by running the following code with an arg of 1, 2, 3, 4, respectively.

[code]

Her

[2013-05-10 04:23] sp3c73r2038 opened #11 "msgpack-0.5.4 segment fault with fluentd-0.10.33"
Hi, I'm using fluentd to transfer log.

I encountered this problem when using fluentd-0.10.33 with msgpack-0.5.4.

I'm using RHEL5.5.

the error logs is [here](https://gist.github.com/aleiphoenix/5552355)

Segment fault doesn't show up every time.

Is there something wrong with my log size?

thanks!

[2013-05-13 05:48] #8 closed, assigned to nobody

[2013-05-13 05:48] #11 closed, assigned to nobody

[2013-05-13 18:09] #9 closed, assigned to nobody

[2013-05-28 14:27] ssimeonov opened #13 "Allow writing at arbitrary positions in MessagePack::Buffer"
`MessagePack::Buffer` is a great utility for high-performance data processing in Ruby with and without `msgpack` encoding. In a couple of cases I've hit a use case where I have a binary data "template" where some parts of the binary data are `msgpack` encoded and some are not. The simplest example is prepending a header that makes the binary packet self-describing without the need for deserializat

[2013-08-17 09:01] #7 closed, assigned to nobody

[2013-08-20 05:59] ramonmaruko opened #17 "Allow overriding of core_ext to_msgpack"
I need this so that I could serialize Ruby's Symbol class as an Extended type.

[2013-08-22 22:22] skizot722 opened #19 "Date/Time Not actually in UTC"
During packing, datetime/time fields are not actually being converted to UTC.

1.9.3p429 :099 > MessagePack.unpack(MessagePack.pack(MyThing.find(38432).serializable_hash))['created_at']
  MyThing Load (0.9ms)  SELECT "my_things".* FROM "my_things" WHERE "my_things"."id" = $1 LIMIT 1  [["id", 38432]]
 => "Time[2013-08-22 16:59:20 UTC]"

1.9.3p429 :100 > MyThing.find(38432).created_at
  MyThing Load

[2013-09-06 13:10] 6wl opened #20 "Gems installed as root don't get the so file moved into the lib/msgpack folder"
System: Linux, Fedora 19

Steps:-
  - As root, 'gem install msgpack'
  - When finished, start irb and require 'msgpack'

Results:-
  - Will fail with message
'LoadError: cannot load such file -- /usr/local/share/gems/gems/msgpack-0.5.5/lib/msgpack/msgpack'

Expected:-
  - Looks like when installing a gem as root, it doesn't copy the .so file into the /lib/msgpack/ folder.

Notes:-
  - Does correct

[2013-12-19 20:52] jdx opened #26 "Does not work with BigDecimal"
[code]

Is this by design?

[2013-12-20 13:24] #26 closed, assigned to nobody

[2014-01-30 16:17] maasha opened #27 "Documentation of symbolize_keys?"
How does symbolize_keys work with serialization?

[2014-03-01 21:14] luislavena opened #29 "Forced C99 is causing Ruby headers on Windows to trigger problems"
Hello,

Recently an issue has been reported to RubyInstaller mailing list:

https://groups.google.com/d/topic/rubyinstaller/s9AqoUOxo3I/discussion

Normally these issues indicate incorrect compiler used between RubyInstaller and the one installed with it, but in this particular case, I was able to confirm the issue:

[code]

Found a similar report in ticket on Mongoid: mongoid/mongoid#3489

I was

[2014-03-06 15:47] hackeron opened #30 "NoMethodError: undefined method `to_msgpack' for 2014-03-06 15:46:12 +0000:Time"
I'm trying to message pack a hash with a time in it but I'm getting this:

[code]

How do I handle time with msgpack?

[2014-04-18 23:08] #29 closed, assigned to nobody

[2014-05-24 19:28] Nerian opened #31 "Symbol not found: _RHASH_SIZE"
Hi,

I get this error when requiring the gem in ruby 1.8.6-p386

[code]

[2014-07-01 14:30] candlerb opened #32 "Documentation of Unpacker#read"
I want to read just one message from an IO stream (e.g. a TCPSocket) and have it returned. How to do this is not clearly documented.

After reading the API docs the best I could come up with was this ugly solution:

[code]

However after digging around the ext source I found Unpacker#read. The documentation says:

That doesn't sound at all like what I want. I want is for it to wait until enough da

[2014-07-16 07:52] #32 closed, assigned to nobody

[2014-08-07 11:35] neuschaefer opened #36 "Decoding maps with string-typed keys fails in Ruby 2.1.2p95"
[code]

With an empty string it works:

[code]

msgpack version: `v0.5.8-12-g3b6d61a`
Ruby version: `ruby 2.1.2p95 (2014-05-08) [x86_64-linux-gnu]` (currently in Debian testing)

[2014-08-07 18:07] #36 closed, assigned to nobody

[2014-09-25 01:51] okahashi117 opened #38 "LoadError on Windows + Ruby 2.1"
I got LoadError on Windows + Ruby 2.1

[code]

Problem does not occur on Ruby 1.9 and 2.0.
I can avoid it using 'gem install msgpack --platform=ruby'.
ffi also had a same problem but it has been fixed a couple of days ago.
This issue could be your help.

Thank you.

[2014-10-04 13:12] paddor opened #40 "Unpack strings to ASCII-8Bit, not UTF-8"
MessagePack doesn't know the encoding of any String in a message serialized with MessagePack. Some of the Strings might be byte arrays (since there's no real distinction between Strings and byte arrays in MessagePack), and those will cause problems later when the wrongly-encoded Strings are used where a correct encoding is expected.

I suggest you set the encoding of unpacked Strings to ASCII-8Bit

[2014-11-10 03:09] alexgenco opened #42 "Support for Extended types?"
It looks like there isn't support for [extended types](https://github.com/msgpack/msgpack/blob/master/spec.md#extension-type) yet, despite a stale pull request (https://github.com/msgpack/msgpack-ruby/pull/14).

Are there plans to implement it? It's a must-have to integrate with the [Neovim](https://github.com/neovim/neovim) MessagePack API. I would love to help but I've never written C in my life

[2014-12-03 08:50] mattheworiordan opened #44 "MsgPack-Ruby library missing support for Binary data type"
I am using MsgPack to encode & decode strings and binary objects across different languages, and I see that the Ruby library makes no attempt to handle binary data according to the Ruby convention of using ASCII-8BIT encoding on byte arrays as strings.

For example:
[code]

The problem I have is that unless I now attach metadata to the MsgPack payload that indicates whether it is a String (UTF-8)

[2015-01-09 07:14] tagomoris commented on #3
#47 merged.

[2015-01-25 17:37] funny-falcon commented on #3
Is there any chance that Unpacker api will be compatible? I talk about `#read_map_header`, `#read_array_header`, `#read` methods, ability to check buffer, ability to iterate over input stream. It looks like there is no such abilities at the moment.

[2015-01-27 05:54] tagomoris commented on #3
More APIs will be supported in JRuby, for more compatibility.
@funny-falcon Could you open another issue for Unpacker api? (or pull-request? :-)

@frsyuki  I think that this issue is to be closed now.

[2015-02-03 10:05] funny-falcon commented on #40
But they can do `#force_encoding` with UTF-8 strings too, if they know that string in different encoding.
So what's the difference?

[2015-02-03 15:35] paddor commented on #40
Yes they can, of course, after getting an `invalid byte sequence` exception. Since msgpack-ruby really can't know a String's encoding, I still suggest using the most basic encoding possible, which is `Encoding::ASCII_8BIT`.

[2015-02-03 17:30] iconara commented on #40
Yes #45, sorry. That’s good. Now, if I only can get you to switch to JRuby, your problem will be solved…

[2015-02-04 09:32] paddor commented on #40
Why switch to JRuby? Does that pull request only work for JRuby or what? And don't worry, my problem is solved/worked-around already. Just an inconvenience I noticed and thought could be improved. Pretty sure the 'bin' type in MsgPack didn't exist back then yet.

[2015-02-04 09:41] iconara commented on #40
I just meant that the semantics proposed in #44/#45 are already implemented in [msgpack-0.5.10-java](https://rubygems.org/gems/msgpack/versions/0.5.10-java), but not in the MRI release of the same version.

[2015-02-04 09:50] paddor commented on #40
Oh okay. No need to rush with that.

[2015-02-16 06:28] nahi commented on #38
0.5.11 + mingw32 still does not support 2.1 and 2.2. Worth reopening it? @okahashi117

[2015-02-16 15:33] okahashi117 commented on #38
You mean that it is not good 'gem install msgpack --platform=ruby' to use 0.5.11 ?

[2015-02-16 23:37] niamster commented on #42
Does it make sense to encode ruby symbols?
In my experience it's a bit annoying when existing RPC server code expects a symbol but unpacked message carries a string. When switching from ruby's native marshalling it's a big effort to check all the places for correctness(disallow sending symbols might be painful as those might be a part of nested arrays and checking everything is just a waste of CPU

[2015-02-17 00:45] nahi commented on #38
Thanks for the workaround in the original post, but yes, we need either of followings I think:
* support 2.1 and 2.2 because we have no way to specify --platform=ruby in bundler
* drop msgpack-ruby-x86-mingw32 gem so that users can prepare cross-comiling environment to get it work

[2015-02-18 08:37] okahashi117 commented on #38
OK, I reopen it.

[2015-04-12 05:43] ramonmaruko opened #55 "JRuby's ExtensionValue, can't access `type` and `payload`"
Is this intended? How do I access the `type` and `payload` properly in Ruby code?

cc @iconara

[2015-04-12 09:03] iconara commented on #55
If I remember correctly it's not a finished feature. The JRuby version of msgpack-ruby was in a transition from the old API and old MessagePack standard to the API msgpack-ruby has now and the new MessagePack standard when it got merged in, and I haven't had any time to complete that transition.

If you're using MessagePack extensions and have the time we would be happy to see a PR that adds acces

[2015-04-12 09:54] ramonmaruko commented on #55
I'll try to add that to JRuby when I have free time. I already submitted a pull request #14 with a few tests; but only for MRI for now.

[2015-04-12 14:06] iconara commented on #55
That would be great, thank you.

[2015-04-13 07:36] Micka33 opened #56 "undefined method `to_msgpack' for Cql::TimeUuid & bignum too big to convert"
I have keywords that I store into cassandra using Cequel. When I want to `pack` it using `to_msgpack`,  I get the following error.

[code]

I understand what this error is about.
I would suggest that to_msgpack call `as_json` when it can't `to_msgpack` in first place.
Because `#<Cql::TimeUuid:0x007fcf43dff830>.as_json` gives `{"n"=>81669062298108866050539035482603516879}`.
But then here is the thi

[2015-04-13 07:37] Micka33 commented on #56
Issue originally posted in https://github.com/msgpack/msgpack/issues/188

[2015-04-13 08:01] iconara commented on #56
I disagree. I don't think it would be a good idea to make `#to_msgpack` use `#as_json`. That method is not at all standardized and would mean that MessagePack started acting differently when you load another gem that happens to add `#to_json` to things.

For example: `Cql::TimeUuid` doesn't have a `#as_json` method (I know, I'm the author of cql-rb, where that class comes from, I assume that it's

[2015-04-13 08:03] iconara commented on #56
An alternative, that wouldn't have the same problem, would be to check for a `#to_h` method and fall back on that it if exists. There would still be no guarantee that the value returned from the method would be MessagePack'able.

[2015-04-13 08:21] Micka33 commented on #56
I didn't realize `as_json` was a rails only method! `to_h` seems to be a good alternative then.

What about the `bignum too big to convert` error? (Should I open a new issue?)
[code]

[2015-04-13 08:52] iconara commented on #56
It's easier to track issues if they are reported separately, so yes please. We can leave this issue open as a feature request for the `#to_msgpack`/`#to_h` thing.

[2015-04-13 09:02] Micka33 opened #57 "RangeError: bignum too big to convert into `unsigned long long'"
Using `msgpack-0.5.11`, here is the error I get:

[code]

[2015-04-13 09:02] Micka33 commented on #56
Created it in https://github.com/msgpack/msgpack-ruby/issues/57

[2015-04-15 08:55] ramonmaruko commented on #57
Based on the [latest spec](https://github.com/msgpack/msgpack/blob/master/spec.md#formats-int), the largest number that we could serialize as an integer right now is 2<sup>64 − 1</sup>.

[2015-04-28 10:22] edwardchuang opened #58 "ArgumentError: Cannot pack type: org.jruby.RubyTime"
I am using logstash with fluent codec which is depend on msgpack-ruby library, but I got the error that complain about cannot pack RubyTime type like this

[code]

Around line 52 of fluent.rb is

[code]

Any clue ?

[2015-04-28 11:36] iconara commented on #58
You probably have a `Time` object somewhere in `event`. `Time` is not supported by MessagePack, you have to convert it to a number or string.

[2015-05-09 07:37] iconara commented on #58
It looks like you got an explanation to the issue, if perhaps not a solution, so I'm closing this. Feel free to open it again if you don't feel that your issue was resolved.

[2015-05-09 07:37] #58 closed

[2015-05-09 07:39] iconara commented on #57
I'm closing this since it looks like things are working as expected, although perhaps not as you'd want them to. Feel free to open this issue again if you feel that some action needs to be taken.

[2015-05-09 07:39] #57 closed

[2015-05-13 05:46] jamielennox commented on #44
This is catching me as well. I'm sending encrypted binary data within msgpack and the string encoding is messing this up. If i base64 encode then it works however if i was ok with 4x size i wouldn't be using msgpack.

[2015-05-13 17:23] nathany commented on #44
@jamielennox Use `gem "msgpack-ably"` for now.

[2015-05-13 23:57] jamielennox commented on #44
unfortunately i'm distributing via rpm and so i can't install a fork with the same name. It appears that the fork is exactly the same with the associated pull request merged.

[2015-05-15 16:07] nathany commented on #44
:frowning: Looks like #45 is waiting on a response from @iconara.

[2015-05-15 16:27] iconara commented on #44
Hey guys, I understand you're frustrated but I'm the JRuby guy, and can't really do anything about the situation. I'm really just a contributor and don't run the project. The JRuby version of the gem already works the way you want, but I know that's not really any consolation.

[2015-05-15 17:33] nathany commented on #44
@iconara Thanks for the reply. I'm happy to use the fork for now.

[2015-05-17 17:52] mattheworiordan commented on #44
@jamielennox I'll see if I can get a different version out in the next few days which addresses this problem

[2015-05-18 09:27] tagomoris commented on #44
I've just released `v0.6.0pre1` (and `v0.6.0pre1-java`) with fixes for this issue.
Can you test this release folks? @mattheworiordan @nathany

[2015-05-20 14:46] iconara opened #65 "No tag for the v0.5.12 release"
There's not tag for the v0.5.12 release.

[2015-05-20 14:52] tagomoris commented on #65
Yes, but it's just for mingw32 gem (w/ 2.0.0, 2.1.5, 2.2.2 pre-compiled binary) release. It is almost same with v0.5.11.
It's my mistake that v0.5.12 is not just same with v0.5.11.

[2015-05-20 14:53] tagomoris commented on #65
Do you think that we should release v0.5.12 on same commit?

[2015-05-20 14:56] iconara commented on #65
It's not though, the release contains #59, which doesn't affect mingw32. I think releasing a proper v0.5.12 with the same code for all releases would be better.

[2015-05-20 15:20] tagomoris commented on #65
OK. I'll release v0.5.12 for CRuby and JRuby tomorrow (JST) in right way.
Thank you to point it out.

[2015-05-20 15:48] nathany commented on #44
I tested v0.6.0pre1 and it worked perfectly. Thanks @tagomoris

[2015-05-20 16:03] tagomoris commented on #44
@nathany Great to hear that.
I'll release `v0.6.0` next week if no trouble reports exist.

[2015-05-20 17:06] jamielennox commented on #44
Unfortunately i'm travelling and won't have time to test it out before release. I really appreciate you looking into it though. Thanks.

[2015-05-21 02:59] tagomoris commented on #65
I've just released `v0.5.12` for all platforms!

[2015-05-21 02:59] #65 closed

[2015-05-21 03:01] tagomoris commented on #38
`v0.5.12` gems are now on rubygems.org, which built with ruby 2.0.0, 2.1 and 2.2.
Please try to install again, and reopen if you find any troubles.

[2015-05-21 03:01] #38 closed

[2015-05-21 03:02] #3 closed

[2015-05-22 04:39] okahashi117 commented on #38
:cool:

[2015-05-26 08:39] tagomoris commented on #20
This issue is already solved at `v0.5.6`. Please reopen if any problems still exist.

[2015-05-26 08:39] #20 closed

[2015-05-26 08:44] tagomoris commented on #27
`symbolize_keys` is just ignored for serialization. It's the option for deserialization.

[2015-05-26 08:44] #27 closed

[2015-05-26 08:46] tagomoris commented on #17
This seems to make unacceptable overhead and performance regression, isn't it?

[2015-05-26 08:48] tagomoris commented on #31
Ruby 1.8.6 is out of support now (and then).

[2015-05-26 08:48] #31 closed

[2015-05-26 08:51] tagomoris commented on #40
I believe that `v0.5.12` solved this issue. Please reopen if any problems exist for you :)

[2015-05-26 09:57] maasha commented on #27
Well, it is undocumented for deserialization then.

[2015-05-26 10:09] tagomoris commented on #27
See "supported options" of "Constructor Details": http://ruby.msgpack.org/MessagePack/Unpacker.html

[2015-05-26 11:40] tagomoris commented on #40
`v0.6.0` released, which supports encoding between bin types and ASCII-8BIT string.
I believe that it solved this issue.
Please reopen if any problems exist.

[2015-05-26 11:40] #40 closed

[2015-05-26 11:40] tagomoris commented on #44
v0.6.0 released, which supports encoding between bin types and ASCII-8BIT string.
I believe that it solved this issue.
Please reopen if any problems exist.

[2015-05-26 11:40] #44 closed

[2015-05-26 16:43] nathany commented on #44
Thanks!

[2015-05-28 14:04] nocelic commented on #42
@alexgenco we are working on this, I hope to have a proposal ready in a couple of days.

@tagomoris moving my question form #52 to #42:
Do we want the MRI code to match the JRuby code?
The JRuby code uses ExtensionValue class, which I do not really like. I think ExtType (form msgpack-python) or ExtensionValue or Extension or Extended would all have been better choices.
So we can
(a) Mirror the JRu

[2015-05-28 14:10] tagomoris commented on #42
(a) and/or (c) look good for me.
In sight of compatibility (a) is best, but (c) may be better than (a) if there're any idea to implement faster than (c). Best way to implement ext types may be different between MRI and JRuby.

I seriously need @frsyuki 's comment :smile:

[2015-05-28 16:18] frsyuki commented on #42
It is good idea to add a Ruby class that corresponds to MessagePack's Extended type. msgpack-java has [org.msgpack.value.ExtendedValue](https://github.com/msgpack/msgpack-java/blob/v07-develop/msgpack-core/src/main/java/org/msgpack/value/ExtendedValue.java).

But I think implementation of Unpacker is not obvious. As like [this comment](https://github.com/msgpack/msgpack/issues/128#issuecomment-140

[2015-05-28 16:20] frsyuki commented on #42
For example:

[code]

or even lower level:

[code]

If a type is not registered, it is an unknown Extended type for applications. I want to reject unknown types when Unpacker receives data rather than visiting deserialized data recursively.

So, I think Unpacker needs a boolean option to control whether it uses the extended class or not when it deserializes an unknown extended type (like `Unpacker

[2015-05-28 16:26] iconara commented on #42
For the record the `ExtensionValue` class in the JRuby implementation more or less only exists so that it can unpack any MessagePack stream. If it weren't there the unpacker would have to fail when an extension value was found. Think of it as something that wraps the bytes of an unsupported extension value.

[2015-05-28 16:55] nocelic commented on #42
@frsyuki Excellent, now that the intention is clear it will be no problem to implement it.

As for the choice of whether or not to deserializes an unknown extended type, I'd suggest the following generic solution:

`Unpacker.new( extended_value: {nil|false|aClass} )`
with the following meanings:
- `nil`: take the default action. This would typically be a creation of a MessagePack::ExtendedValue in

[2015-05-29 23:38] doughsay opened #66 "0.6.0 generates messages not decodable by msgpack-js 0.3.0"
This lib: https://github.com/creationix/msgpack-js

Can no longer decode messages that contain `|` (pipe) characters which are generated by msgpack-ruby 0.6.0.

msgpack-js throws this:

[code]

Don't know which packages fault it is...

[2015-05-30 07:28] tagomoris commented on #66
@doughsay can you check whether msgpack-ruby can unpack that message or not?

[2015-06-01 03:24] burnssun commented on #66
in my case

[code]
output is
[code]

msgpack-ruby successfully unpack both case but mspack-js do not

[2015-06-01 03:44] tagomoris commented on #66
It's depends on new spec of msgpack. `msgpack-js` seems not to support `str8` msgpack type.
MessagePack -ruby 0.6.0 packs data with latest MessagePack spec.
Please update `msgpack-js` or use any unpacker which supports latest MessagePack spec, or use msgpack-ruby 0.5.x to pack your data.

[2015-06-01 03:44] #66 closed

[2015-06-04 00:01] nocelic commented on #42
@frsyuki @tagomoris @csfrancis

I have implemented the extended types functionality in this fork:
https://github.com/nocelic/msgpack-ruby

The description is here:
https://github.com/nocelic/msgpack-ruby/wiki#extended-types

Before I submit a PR, it would be great if you could take a look and tell me if anything needs to be changed. Thanks!

[2015-06-06 00:55] duhaime commented on #38
Hi, I have Ruby 2.1 and can `gem install msgpack` fine, but I get an error on import:

<pre><code>C:\Users\dduhaime>gem install msgpack
Successfully installed msgpack-0.6.0-x64-mingw32
Parsing documentation for msgpack-0.6.0-x64-mingw32
Done installing documentation for msgpack after 0 seconds
1 gem installed

C:\Users\dduhaime>ruby -e "require 'msgpack'"
C:/Ruby21-x64/lib/ruby/site_ruby/2.1.0/rub

[2015-06-09 02:46] tagomoris commented on #42
I'm very sorry that i don't have time to see the branch seriously for now... I'm willing to check it next week.

[2015-06-12 09:44] frsyuki commented on #42
API draft:

[code]

[2015-06-12 09:53] frsyuki commented on #42
For unknown extension value handling:

[code]

[2015-06-12 11:00] nocelic commented on #42
@frsyuki: looks good, I can change the API to match your description.

There just a few issues I would like to clarity:

1) Regarding the Factory:

    pk1 = factory.packer
    factory.register_type(0xab, .....)
    pk2 = factory.packer

Do pk1 and pk2 now have the same or a different idea about 0xab ext type?
(I.e. do we reference, or do we copy the type registry of the Factory to the packers/unp

[2015-06-20 17:57] 0xBF opened #67 ""compatibility mode" for packer"
v0.6.0 use new msgpack specification, which add str8 and binary formats. But this formats don't supported by old parsers and generated msgpack data can't be parsed by such clients.

Please, add flag for disable str8 and bin formats in packer.

[2015-06-22 00:19] tagomoris commented on #67
@0xBF Are there any reason not to use `v0.5.x`?

[2015-06-24 01:19] 0xBF commented on #67
how long will be 0.5.x branch supported?
At least Debian Wheezy, Ubutu 14.04 LTS, CentOS 6.x comes with msgpack-c 0.5.7 without new deserialization format.

[2015-06-24 02:24] tagomoris commented on #67
`v0.5.x` is available as it is. If coming OS versions breaks anything, it will not works well...
Anyway, patches are welcome for optional packer feature.

[2015-06-29 10:29] pjanuario commented on #66
@tagomoris If this new release requires something new from MessagePack specification, so I would suggest this should be tagged as a Major version and not as Minor, since we are talking about a library that commonly used for integration and it could potentially broke happened with js integration.

[2015-06-29 11:00] tagomoris commented on #66
@pjanuario What are you talking on? Semantic versioning?
If so, `0.y.z` APIs may be always broken by new versions. (FYI: http://semver.org/ item 4)

Of course, we want to help breaking everything. That's the reason why we'd bump up minor version.

I know that there's the other way to release 1.0.0. But there're no dists of msgpack implementations as versioned v1.0.0...

[2015-06-29 11:10] pjanuario commented on #66
@tagomoris Sorry, about not mentioning it.
Yes if the library is using semantic versioning, it should have been major, but if you consider that this is steel in "development" than it make sense. Is just weird, because the library as been developed for more than 2 years and I am pretty sure that a lot of people is using it in production, I am and it's stable.

Regarding, with the fact that there is

[2015-06-30 06:49] tagomoris commented on #42
In my opinion:

1) copying makes less troubles than reference
By selecting copying, we have not to consider about many problems, ex: overwriting/overriding same type id between factories and instances.

2) I have no idea about this topic, but there seems not so many apps which want to handle low-level data representations.

3) Global default factory(singleton object as constant) seems useful

4) C

[2015-06-30 06:49] tagomoris commented on #42
@frsyuki how do you think about these?

[2015-06-30 07:01] frsyuki commented on #42
1) I don't have use cases in my mind where layered registry is useful. I think simple copying is good enough.

2) I don't think low-level API is necessary at least for now. The low-level API I drafted exposes internal buffer during deserialization that can break some assumptions used for performance optimization.

3) it is useful for me to have global default factory such as `MessagePack::DefaultF

[2015-06-30 12:37] iconara commented on #67
This is what the [MessagePack specification](https://github.com/msgpack/msgpack/blob/master/spec.md#impl-upgrade) has to say on the subject:

I will take a stab at fixing this, because I need it too. I might need help with the C implementation.

[2015-06-30 21:13] nocelic commented on #42
@tagomoris, @frsyuki:

Thanks, I consider the questions 1-3 resolved.

4) If instead of

    MessagePack::Unpacker.new(allow_unknown_ext: <true|false>)
we had

    MessagePack::Unpacker.new(unknown_ext: <true|false|aClass>)
a user could easily substitute any class for `ExtensionValue`. The interface would be the same as for `ExtensionValue`, i.e. the substituted class would have to have `.new(type

[2015-07-01 07:08] tagomoris commented on #67
#68 and #70 are merged, and `v0.6.1` released with option `compatibility_mode: true` for Packer.
That solves this issue.

[2015-07-01 07:08] #67 closed

[2015-07-03 03:13] tagomoris commented on #42
Your idea looks too complicated for me. How about to add option `:unknown_ext_class` to specify classes instead of `ExtensionValue`? It seems acceptable for me.

You're right. It's good update idea to allow to feed procs instead of symbols.

I got it. I will accept pull-requests for that feature...

[2015-07-03 09:43] nocelic commented on #42
As I wrote, the purpose of my questions was to adapt my already existing and working solution for extended types (https://github.com/nocelic/msgpack-ruby) to your desired API and then issue a pull request.
Considering that you have started working on a different solution (#71), my questions are of no relevance any more.

[2015-07-08 09:44] takkanm opened #73 "Can't load msgpack.so in Ruby 2.0 and Ruby 2.1 for Windows"
msgpack 0.5.12 fail to load msgpack.so in Ruby 2.1 and 2.0 for Windows .

[code]

[2015-07-08 10:09] tagomoris commented on #73
I downloaded .gem file and investigated it, and then I found `lib/msgpack/msgpack.so`. weird.
[code]

[2015-07-09 02:02] nahi commented on #73
lib/msgpack.rb tries to load 'msgpack/X.X/msgpack' but it only includes 'msgpack/msgpack.so'. Presumably it lib/msgpack.rb fallbacks to 'LoadError' block and only 2.2 loads it?

[2015-07-09 03:41] tagomoris commented on #73
msgpack-ruby supports ruby 2.0 or higher, and doesn't use version specific APIs of 2.0, 2.1 and 2.2.
So generating only one binary seems to work well on all of supported versions.

[2015-07-14 09:08] cosmo0920 commented on #73
I tried to install 32bit version of Ruby 2.2.2 and 64bit one.
These are installed with Ruby Installer.

result:

With x86-mingw32 version's Ruby, I couldn't install msgpack gem on Windows.
And I got following messages:

[code]

In x64-mingw32 version's Ruby, I could install msgpack gem and import it:

[code]

Perhaps, cross platform elements is missing?

This line: https://github.com/msgpack/msgpa

[2015-07-18 00:39] justinwiley opened #77 "Kernel panic on to_msgpack"
I'm using Ruby 2.2.2 on Mac 10.10.4, and the stuff-classifier gem, which pulls in msgpack 0.6.1.

I've trained the classifier on a large list of words, resulting in a hash 5mb hash structure like so:

[code]

The classifier tries to pack it, and a kernel panic ensues.  I've tried recreating this by creating another large hash, but it serializes without issue.

[https://gist.github.com/justinwiley/

[2015-07-18 00:49] frsyuki commented on #77
it could be related to #75 which is reported today and merged today. we'll release new version soon.

[2015-07-18 02:00] nurse commented on #77
@frsyuki he says it is Ruby 2.2.2 and the backtrace also says that.
#75's case doesn't affect Ruby 2.2 because of its around ifdef.

[2015-07-18 05:59] frsyuki commented on #77
msgpack_packer_write_bin_header fix affects Ruby 2.2.2.

[2015-07-22 10:29] tagomoris commented on #73
msgpack.gem `v0.6.2` released, for cruby, jruby and x86-mingw32, x64-mingw64.
And for MinGW32 environment, gems are fatpacked only for ruby 2.1 & 2.2.
@takkanm @cosmo0920 Could you try it?

[2015-07-22 10:30] tagomoris commented on #77
msgpack 0.6.2 is now out with fix for #75.
@justinwiley Can you try it?

[2015-07-22 15:41] larskanis commented on #73
This issue should be fixed by https://github.com/msgpack/msgpack-ruby/pull/79 .

[2015-07-22 21:03] florf opened #80 "Add bits for unpacking into a canonical class name"
**Purpose**
Allow a serialized object to declare its type through a two-part signature.  When the header byte is encountered by the Decoder, a new instance of the declared class is created.

**Objective**
Should this be possible, it would allow objects to serialize themselves by encapsulating their initialization parameters and provide a built-in parity to the `JSON.load()` method from the JSON ge

[2015-07-29 08:52] #17 closed

[2015-07-31 09:12] cosmo0920 commented on #73
With v0.6.2, I got following result:

### i386

[code]

### x64

[code]

[2015-07-31 13:49] tagomoris commented on #73
OK, let me close this issue.
Please reopen or create another issue if any problems found.

[2015-07-31 13:49] #73 closed

[2015-08-02 19:43] funny-falcon opened #83 "Why TypeError is not subclass of UnpackError?"
It is strange, that MessagePack::TypeError is a separate species. Why it is not sublclass of UnpackError?

[2015-08-03 18:11] frsyuki opened #85 "Make exception behavior of Unpacker consistent to throw only UnpackerError"
As #83 points out, Unpacker throws TypeError, which doesn't extend UnpackerError.
It would be confusing if Unpacker throws an error which is not UnpackerError in terms of its naming.
Possible solutions are...:

* a) change TypeError to extend UnpackerError
* b) change TypeError to be Module. And create UnexpectedTypeError which includes TypeError and extends UnpackerError.

[2015-08-03 18:12] frsyuki commented on #83
That "was" because of a plan to implement data type conversion module like msgpack-java's Template or jackson-dataformat-msgpack. MessageTypeException defined there can be thrown from "data type conversion module" which is not unpacker.
But it sounds confusing in msgpack-ruby. I created #85 to focus on this issue.

[2015-08-03 18:12] #83 closed

[2015-08-05 10:30] tagomoris opened #87 "Add support `register_type` and `MessagePack::Factory` in JRuby"
Pathes are needed to follow CRuby implementation of these features:
* `MessagePack::Factory`
* `register_type`, `registered_types` and `type_registered?` for `Packer`, `Unpacker` and `Factory`
* Many skipped specs
* Many specs to be shared with CRuby/JRuby (currently many specs are separated on cruby/jruby directory)

[2015-08-07 08:22] tagomoris commented on #77
Let me close this issue.
@justinwiley Please reopen this issue if you still have problem on master HEAD.

[2015-08-07 08:22] #77 closed

[2015-08-07 08:36] tagomoris commented on #80
This proposal can be implemented with ext types.

[2015-08-07 08:36] #80 closed

[2015-09-04 09:12] tagomoris commented on #30
Time serialization/deserialization will be supported by ext types of version `v0.7.x`.
I'll leave this issue to be opened until that release.

[2015-09-04 09:24] tagomoris commented on #85
#86 solved this issue.

[2015-09-04 09:24] #85 closed

[2015-09-08 04:50] tagomoris commented on #55
#84 already solved this issue.

[2015-09-08 04:50] #55 closed

[2015-09-09 08:17] tagomoris commented on #87
#91 will solve this issue.

[2015-09-09 08:17] #87 closed

[2015-09-15 05:18] cosmo0920 commented on #19
Time serialization/deserialization is not supported current msgpack.
This feature will be supported by ext types of version v0.7.x.

Related to PR #90 discussions.

[2015-09-15 05:40] cosmo0920 commented on #56
If you want to big integer support in msgpack, comment is welcomed in msgpack repo's issue: https://github.com/msgpack/msgpack/issues/206

[2015-11-08 04:35] tagomoris commented on #19
Now msgpack-ruby v0.7 supports ext types. So you can serialize Time (or Date) by code like below:
[code]

[2015-11-08 04:36] #19 closed

[2015-11-19 20:00] ki4jnq opened #99 "Serialized strings greater than 256 bytes fail with EOFError"
Hey, Guys,

I've been looking to replace some existing Marshal code with MsgPack. But have been running into an issue when trying to serialize extended types.  If the serialized string is longer than 256 bytes, it will fail to unpack. I discovered the issue while working with some ActiveRecord, but I have reduced it to the following repeatable example.  I am running MRI v1.9.3-p551 on Ubuntu 14.04

[2015-11-19 20:01] ki4jnq commented on #99
Sorry, the exact error is:

[code]

[2015-11-20 02:32] tagomoris commented on #99
@ki4jnq How it works if you don't use method names `:to_msgpack` and `from_msgpack` for ext types?
These names are method names for default msgpack encoding/decoding (not ext type).
I want to know clearly whether your problem is about ext type or not.

FYI: Ruby 1.9.3 is now out of support of Ruby, and msgpack-ruby too. Please use newer Ruby. (If your bug is only for ruby 1.9.3, I will NOT fix it.

[2015-11-20 07:11] frsyuki commented on #99
This seems a bug. It looks unexpected to use to_msgpack/from_msgpack but it's not related.

[2015-11-20 07:12] frsyuki commented on #99
I fixed at #100.

[2015-11-20 10:10] tagomoris commented on #99
I'll release 0.7.1 after confirmation of CI green.

[2015-11-20 11:00] tagomoris commented on #99
`v0.7.1` released with fix for this case. Please reopen if something goes wrong.

[2015-11-20 11:00] #99 closed

[2015-11-20 11:01] tagomoris commented on #42
This is done by release of v0.7.0.

[2015-11-20 11:01] #42 closed

[2015-11-20 11:02] tagomoris commented on #30
`v0.7.0` is now available.

[2015-11-20 11:02] #30 closed

[2015-11-20 13:37] ki4jnq commented on #99
@frsyuki @tagomoris Thanks, Guys! That nailed it!

[2015-11-20 17:36] alexgenco commented on #42
Thanks all :)

[2016-01-08 05:57] tagomoris opened #105 "Introduce argument check logics"
Currently method argument checks are not common between CRuby and JRuby.
It's better to have common argument check for better compatibility (ex: io-like object of `Buffer#new` arguments) and throw ArgumentError for invalid values.

But it could break working application code (w/ ignored or danger argument values).
So this change should be done as major or minor version up, not patch version bump.

[2016-02-11 15:40] rhertzog opened #106 "Should not rely on rb_num2int function but NUM2INT macro"
We packaged the latest msgpack release for Kaii and discovered that it failed to build on i386/armel/armhf while it compiles fine on amd64. The failure is related to the absence of the rb_num2int symbol in libruby.

Effectively this function is only available when sizeof(int) < sizeof(long)... however the corresponding macro (NUM2INT) is always available. So please use the macro and not this funct

[2016-02-12 09:02] sbrun opened #107 "Test failure on armel and armhf"
When trying to build msgpack version 0.7.4 on kali (after having fixed #106), we have a build failure on armel and armhf during tests:
[code]
You can see the complete error message here:
https://gist.github.com/sbrun/e1fba16da032006227c1

Cc @rhertzog

[2016-02-18 15:00] rhertzog commented on #107
Here's the full backtrace of the segfault:
[backtrace.txt](https://github.com/msgpack/msgpack-ruby/files/136364/backtrace.txt)

Relevant part is:
[code]

Hope this helps and that we can quickly fix the problem...

[2016-02-18 15:27] rhertzog commented on #107
The failing test that generates the above is "msgpack ext 8 format" but the 16 and 32 variants also seem to fail in similar ways. Commenting those tests outs let the full test suite pass successfully.

[2016-02-18 15:41] rhertzog commented on #107
@frsyuki You seem to be the person who last modified the part of the code which is reponsible of unpacking that kind of value. Can you look into this?

I find it weird that ext_type is supposed to be between -128 and 127 and yet the test feed a value of 255. Maybe there's a problem of cast/conversion between signed char and unsigned char somewhere?

The backtrace clearly shows that we get 255 as v

[2016-02-18 16:05] rhertzog commented on #107
My speculation seems to be correct... a "char" in C can be either signed or unsigned and this varies across architectures: https://wiki.debian.org/ArchitectureSpecificsMemo#Signedness

If I force gcc to consider "char" as signed with "-fsigned-char" then the segfault goes away. Here's the patch I used:
[fix-signedness.patch.txt](https://github.com/msgpack/msgpack-ruby/files/136487/fix-signedness.p

[2016-02-19 02:08] tagomoris commented on #106
@rhertzog Could you create a pull-request to do that fix?

[2016-02-19 02:29] tagomoris commented on #107
Do you mention about `255` of this line?
https://github.com/msgpack/msgpack-ruby/blob/master/spec/unpacker_spec.rb#L343

This value in second element means length of bytes of data, not ext type id.
See spec: https://github.com/msgpack/msgpack/blob/master/spec.md#formats-ext

[2016-02-19 05:35] tagomoris commented on #106
I pushed a commit to solve this issue: c74b26600294453b6e2dcd4808ed3ba941fa0212
(I missed to create pull-request for it. oops.)

[2016-02-19 08:06] rhertzog commented on #107
Yes, I confused the value. However the diagnosis still seems to be correct. -1 is translated into 255 due to being written out and read as unsigned char.

[code]

[2016-02-19 08:08] rhertzog commented on #106
Thanks, closing the ticket then.

[2016-02-19 08:08] #106 closed

[2016-02-19 08:55] rhertzog commented on #107
I pushed a pull request with a fix. You can reproduce the problem on your side when building with -funsigned-char and see that even with this option, it works once the patch has been applied.

[2016-02-19 10:10] tagomoris commented on #107
Okay, I got understood this problem correctly. Thank you for explanation in detail.

[2016-02-19 10:28] #107 closed

[2016-02-19 10:28] tagomoris commented on #107
@rhertzog @sbrun I merged #108. Thank you!

[2016-04-01 05:23] simonrussell commented on #56
Isn't this what custom serialisation (extension types) is for?

[2016-04-01 05:29] simonrussell opened #110 "Symbols are converted to Strings on pack; can't modify this behaviour"
Symbols are converted to strings when packing -- unfortunately if this isn't the behaviour you were after (for example, you want to use an extension type) then you can't modify this with register_type.

I can see why this behaviour is there -- it's probably what a lot of people want, and it's similar to the JSON behaviour, but it would be nice if this behaviour would be optional.  Basically, it sh

[2016-04-02 04:34] tagomoris commented on #56
Right. Use ext types for this purpose. I missed to close this.

[2016-04-02 04:34] #56 closed

[2016-04-02 04:42] tagomoris commented on #110
The reason of it is just performance. It makes makes packer/unpacker slower to make it possible to pack strings/symbols/numbers (or some others) into different representations.
I'm ok to make it modify-able by using ext types if there's any way without performance regression.

[2016-04-05 20:40] ZeroChaos- commented on #106
Any chance you want to make a tagged release with this fix?

[2016-04-06 04:46] tagomoris commented on #106
I've just released `v0.7.5`.

[2016-04-06 13:39] ZeroChaos- commented on #106
You are a wonderful human being. Thanks

[2016-04-08 01:39] simonrussell commented on #110
Okay, I might try and have a look at this.  It seems like it should be fairly straightforward to do it with minimal performance impact (i.e. done in the native code with an 'if').

[2016-05-02 10:00] andreaseger opened #112 "Java::JavaLang::IndexOutOfBoundsException in :pack"
We have a rather big application running on jruby(1.7.15) which uses msgpack to send messages to rabbitmq.

We just wanted to update out mongodb driver which also updates the bson gem and we suddenly see lots of `Java::JavaLang::IndexOutOfBoundsException` from `java.nio.Buffer.checkBounds(Buffer.java:567)` which as you can see below in the - rather long - stacktrace is called from within msgpack.

[2016-05-03 12:03] tagomoris commented on #112
@andreaseger What's happen when you downgrade (revert) update of mongodb driver?

[2016-05-03 13:46] andreaseger commented on #112
If we downgrade `mongo` to 2.1.2 which also downgrades bson from `4.1.x` to `3.2.x` msgpack is working again.
Problem is we really should update to the latest mongo driver because of compatibility and bugfixes (mostly related to filling our mongo logs)

[2016-05-03 14:09] iconara commented on #112
Some information about Java version, and what the differences are between your local system and the system where you see the error, would be helpful.

[2016-05-03 15:12] andreaseger commented on #112
our production system has the following java version

[code]

locally I have

[code]

Maybe I find some time tomorrow to run some more tests regarding this directly on one of our production boxes

[2016-05-09 12:02] andreaseger commented on #112
OK Sorry it took me a while to get back to this but here is what I found out and now I kinda understand why a mongo update was able to influence msgpack behaviour:

during requests in question we load some entities from mongodb.

Lets say they look like this:

[code]

In the previous version of mongo/bson(3.x) the numbers here were - as one would expect - of type `Fixnum` and msgpack had no issue

[2016-05-09 12:11] iconara commented on #112
There's definitely a bug in `msgpack-ruby` here, it's just a question of what input that causes it. You should never get that kind of exception, if there's something that goes wrong in the encoding you should get a nice Ruby error, not a Java exception from deep down in `ByteBuffer`.

What would be very helpful at this point is to get a piece of code that reliably triggers the bug.

[2016-05-09 14:00] christopheraue commented on #110
I'm having the same problem. What about giving the (un)packer an `allow_core_ext` option on initialization? It had to be checked once for every (un)pack.

- If `false` (default) it selects the (fast) current algorithm.
- If `true` it selects the (slow) modified algorithm looking for an ext type before defaulting to the current algorithm.

[2016-05-09 14:03] andreaseger commented on #112
java/ruby interop is interesting ;)
I managed to create a small gist to demonstrate the issue https://gist.github.com/andreaseger/eceb57dd80b6f9104eba452c553408db

obviously you want to run it with jruby - I'm not sure of another way to create a tiny `Bignum`

[2016-05-09 14:16] iconara commented on #112
I ran your code and can confirm I get the error. I will take a look and try to fix it.

[2016-05-09 15:18] tagomoris commented on #112
Here's another one:
[code]

[2016-05-09 15:24] tagomoris commented on #110
It looks an option to make it implemented.

[2016-05-10 07:23] #112 closed

[2016-05-10 07:52] tagomoris commented on #112
`v0.7.6` should solve this problem.

[2016-05-13 11:52] christopheraue commented on #110
I had some time to take a closer look at it.

1) Allowing all core types (number, strings, …) to be custom serialized in the way I proposed above imposes the performance penalty to every serialization of every type. And this even if we only want to use an ext type for just one core type (like with symbols). This seems to be too much. Especially when most of the time (if not always) there is no nee

[2016-05-16 06:18] tagomoris commented on #110
IMO that approach looks reasonable... @frsyuki how do you think about it?

My understanding:
* there's no case to want to pack core types into ext types - except for symbols
* add just a flag/hook to check whether Symbol is registered into registry for ext types
* pack Symbols as ext types if it's already registered into ext types

[2016-05-16 06:19] tagomoris commented on #110
and @simonrussell ?

[2016-05-16 23:30] simonrussell commented on #110
That suits me; that's more-or-less what I was thinking for an implementation; thanks @christopheraue for following this up.  I guess the only other part of my problem was that Symbols get encoded and there's no way to disable that (i.e. throw an exception) -- I suppose I could register a handler that just throws an exception?  (My issue here is the non-round-trip nature of encoding/decoding with S

[2016-05-25 08:02] frsyuki commented on #110
Concept of #114 looks very good. That is because I agree that there are some use cases where Symbol needs a custom serialization format so that receiver of the serialized data can distinguish it from strings. And the other core types don't need such customization.

A missing thing is that there're no pretty ways to configure Packer to throw exceptions when a Symbol is given. But registering a meth

[2016-05-25 08:07] tagomoris commented on #110
@frsyuki What you meant as "a missing thing" is: we need a way to prohibit serialization of symbols, and it's be done by hack to raise an exception in ext type handler. Is it right?

[2016-05-25 09:28] simonrussell commented on #110
Yes, I think that was the same comment I was making -- you can't disable Symbol packing completely; so you can't be sure that you'll get a clean round-trip (your Symbols will become Strings).

[2016-05-26 00:52] frsyuki commented on #110
@tagomoris right.

[2016-05-26 01:17] tagomoris commented on #110
OK, let's go forward with #114.

[2016-06-10 14:17] topac opened #118 "Invalid argument @ io_getpartial when loading from big files"
The following code triggers the error:

[code]

[2016-06-10 16:24] tagomoris commented on #118
@topac Could you add versions of ruby & msgpack-ruby, and stack trace?

[2016-06-10 16:32] topac commented on #118
@tagomoris You're right.

* ruby 2.2.3p173 (2015-08-18 revision 51636) [x86_64-darwin14]
* MessagePack::VERSION is 0.7.6
* ```test.rb:33:in `readpartial': Invalid argument @ io_getpartial - /tmp/testmsgpack1 (Errno::EINVAL)
	from test.rb:33:in `load'
	from test.rb:33:in `<main>'```

[2016-06-10 16:38] tagomoris commented on #118
Thank you. I'll check it, but give me time for it.

[2016-06-10 16:46] tagomoris commented on #118
Ah, got it. It's a kind of this issue: https://github.com/msgpack/msgpack/issues/214
MessagePack supports a string/binary which has a length in 32bit integer (== 2GB in 32bit signed int).
It's the limitation of msgpack spec, not bug of msgpack-ruby.

It might be a problem that error message should be more clear, or `#to_msgpack` should show any errors.

[2016-06-13 07:31] topac commented on #118
@tagomoris I think it's related to the fact that is loading from a file. In fact, skipping the part which write ```string``` to file and loading directly it does not trigger the error:

[code]

[2016-06-17 06:45] tagomoris opened #119 "Proposal for a new API to get type and size info without unpack"
MessagePack (serialized) binary has type info and size of (str/bin, array, map) at the header of whole binary.
When we want to know these, it's only way to unpack whole data. But it requires much computing power.

I propose a new API call to return an array of Hash object which contains:
- :type => (:nil, :string, :int, :float, :array, :map, :ext, ...)
- :size => (bits of numeric values, bytes of

[2016-06-17 06:46] tagomoris commented on #119
I really want this API to know the number of records from a binary transported via Fluentd's forward protocol w/o unpacking.

[2016-06-17 06:55] nurse commented on #119
Just FYI, I'm implementing similar feature (but C layer) https://github.com/nurse/msgpack-ruby/blob/94af4e565a1a849740acd11ba7623df2faa0f84c/ext/msgpack/unpacker.c#L918

[2016-06-17 07:03] tagomoris commented on #119
I found that what I really want is a method to know how many msgpack objects exist in a binary. Hmm.

[2016-06-17 07:09] tagomoris commented on #119
I updated the description above. Is it still similar to yours?

[2016-06-17 10:54] nurse commented on #119
Your proposal needs a cursor (or an API to really skip objects without allocating objects). Mime contains such implementation as a cursor, but yours seems to want to move the unpacker's position.

[2016-06-17 19:16] frsyuki commented on #119
Doesn't `Unpacker#read_array_header` or `Unpacker#read_map_header` work?
It sounds good idea to add methods to tell:

* type of next value
* length of next str or bin
* type and length of next ext

[2016-06-17 19:31] frsyuki commented on #119
Returning a class instance (immutable struct) is better than Hash in terms of performance.
I think it should be 2 methods because checking types needs only 1 byte but checking length need more bytes:

[code]

These are optional (My bet is that NOT adding them until some actually need them):

[code]

This is how msgpack-java designs data model around types:

* [ValueType](https://github.com/msgpack

[2016-06-17 19:42] frsyuki commented on #119
I think it's NOT good idea to add `read_next_type`. Because moving cursor makes internal state of the Unpacker unusable. There're no methods to read payload only.

Adding such method as like [msgpack-java does](https://github.com/msgpack/msgpack-java/blob/02117b7c322c56992984da90261a8d74da645a29/msgpack-core/src/main/java/org/msgpack/core/MessageUnpacker.java#L1271-L1298) is another idea but it wi

[2016-06-22 00:14] kylog opened #120 "Build against ruby 2.4.0"
It *looks like* msgpack is going to need an update to build against ruby 2.4.0. It may be due to https://bugs.ruby-lang.org/issues/12005

[code]

[2016-06-22 01:00] cosmo0920 commented on #120
It seems to be `rb_cFixnum(Fixnum)` and `rb_cBignum(Bignum)` are unified in `rb_cInteger(Integer)` in current ruby-head.

[2016-06-23 09:31] tagomoris opened #121 "Inconsistent return value of `#to_msgpack(packer)`"
`#to_msgpack(packer)` returns given packer instance, not msgpack string.
Generally, `#to_x` method returns instance of x in Ruby way. Current behavior is very confusing.

Returning packer is for recursive packing, so we need to add another method for it.
See also: https://github.com/msgpack/msgpack-ruby/pull/116#issuecomment-221475038

What's the best name of that method?

[2016-07-26 03:57] tagomoris commented on #120
msgpack-ruby v1.0.0 solved this issue.

[2016-07-26 03:57] #120 closed

[2016-07-26 03:58] tagomoris commented on #110
#114 was merged into v1.

[2016-07-26 03:58] #110 closed

[2016-11-24 03:08] x-nagasawa opened #127 "Unpacker#read_array_header and Unpacker#read_map_header return a wrong size."
In windows environment with msgpack-1.0.2-x86-mingw32, Unpacker#read_array_header for array16 and Unpacker#read_map_header for map16 return a wrong size.

A code to reproduce is following.
[code]

In Windows7(64bit) with ruby 2.2.1p85 (2015-02-26 revision 49769) [i386-mingw32], the code returns wrong size as below.

The result of read_array_header is excepted "1" but it returns "0x010001".
The res

[2017-01-05 17:17] khalilfazal commented on #121
`build_msgpacker(packer) #=> packer` sounds good to me.
No justification other than that it sounds good.
Anyone have a better idea?

[2017-01-17 02:31] phuongnd08 opened #128 "Incorrect encoding on BigDecimal"
If I encode a float:
[code]

But if I encode the same number as BigDecimal
[code]

[2017-01-17 02:34] phuongnd08 commented on #128
This commit fix the issue for me: https://github.com/w1mvy/msgpack-ruby/commit/d738c452f95f6e7fa0d0ee12e75cc7cc718debb9

[2017-01-17 02:46] khalilfazal commented on #128
Can you clarify that is meant by #to_d?

    require 'bigdecimal'
    require 'bigdecimal/util'
    require 'msgpack'

    {"n"=>9850500.to_d}.to_msgpack

Gives error:

    NoMethodError: undefined method `to_msgpack' for 0.98505e7:BigDecimal

[2017-01-17 02:59] phuongnd08 commented on #128
I'm using Rails. If you open it in a Rails console it should work. to_d mean convert an object to BigDecimal.

[2017-01-17 03:07] khalilfazal commented on #128
I understand how [String#to_d](http://apidock.com/ruby/String/to_d) works, but I don't know how you got `#to_msgpack` to work on a BigDecimal without raising a `NoMethodError` exception.

[2017-01-17 03:12] phuongnd08 commented on #128
I see. Upon closer dig, it is our issue. We defined #to_msgpack over BigDecimal by delegating to String. Fixed now.

[2017-01-17 03:15] #128 closed

[2017-02-13 00:32] ronakg opened #130 "gem install msgpack fails"
Hi,

I'm trying to install the neovim gem which in turn tries to install msgpack gem. However the installation always fails with following error:

[code]

This is on Ubuntu 16.04.2 system.

[2017-02-13 00:34] ronakg commented on #130
Content of the log at `/var/lib/gems/2.3.0/extensions/x86_64-linux/2.3.0/msgpack-1.0.3/mkmf.log`

[code]

[2017-02-13 00:41] ronakg commented on #130
Updating gcc to 4.9 fixed the issue.

[2017-02-13 00:41] #130 closed

[2017-02-21 15:51] christopheraue opened #131 "Extension type for modules"
Currently, an extension type can only be registered for classes: https://github.com/msgpack/msgpack-ruby/blob/master/ext/msgpack/packer_class.c#L283.

Couldn't modules be allowed as well? Inheritance of ext types works and already checks modules in the ancestor chain: https://github.com/msgpack/msgpack-ruby/blob/master/ext/msgpack/packer_ext_registry.h#L55

I'm looking to accomplish something like

[2017-02-22 06:01] tagomoris commented on #131
It looks reasonable for me.
@christopheraue can you write patches and tests for that update?

[2017-02-22 11:48] christopheraue commented on #131
Yes, I'll do that.

[2017-02-28 04:30] tagomoris commented on #131
`v1.1.0` has been released with this feature for all platform (including x86/64 & java).

[2017-02-28 04:30] #131 closed

[2017-03-10 19:33] tenderlove opened #133 "Setting `DefaultFactory` to nil will cause a segv"
Repro script:

[code]

This will cause a SEGV because [this global](https://github.com/msgpack/msgpack-ruby/blob/master/ext/msgpack/factory_class.c#L218) will get GC'd and the pointer will become bad.

[2017-03-10 19:41] tenderlove commented on #133
I've sent two PRs to deal with this problem.  I prefer #135, but it's a much larger patch than #134, so I understand if it won't get applied.

[2017-03-10 21:51] tagomoris commented on #133
I prefer #134. IMO all ruby code in this repository should be shared with CRuby/JRuby implementations.

[2017-03-10 23:05] tenderlove commented on #133
@tagomoris Understood.  I have updated #135 so that JRuby and CRuby share the same Ruby code: tenderlove/msgpack-ruby@d6ef970

I was able to delete even more code. 😊

[2017-03-13 04:36] tagomoris commented on #133
LGTM > #135.
It seems smart for me to reduce C code & move much code to Ruby without performance regression.
@frsyuki How do you think about it?

[2017-03-13 05:52] frsyuki commented on #133
It is very good to move C code to Ruby without performance impact.
But I found one issue: Calling new write_* methods with unexpected type makes the ruby VM crashed:

[code]

This may cause some security problems.

[2017-03-13 16:26] tenderlove commented on #133
Sorry, I forgot to add the type checks.  I've fixed in tenderlove/msgpack-ruby@b8493d76f3ddc72cb2dfb520d5ff1c8316850cbb

<details>
  <summary>Benchmark Results. Click to expand </summary>
Master Branch (before):

[code]

New Branch (after):

[code]
</details>

[2017-03-16 05:09] tagomoris commented on #133
There looks *a bit* performance difference. IMO it's not serious problem, and the benefit from moving code from C to Ruby is much larger than this performance difference.
@frsyuki How do you feel?

[2017-03-16 07:14] iconara commented on #133
This does not seem to impact JRuby performance significantly. +1 for moving code to Ruby when not impacting performance.

The PR seems to target JRuby 9k exclusively though, is that by design or by accident?

[2017-04-07 10:15] ramonmaruko opened #136 "incorrect ext type maybe used if an ancestor is also registered"

[2017-05-24 16:20] parkr commented on #57
I just hit this again migrating some code to Ruby 2.4.0 and passing `Integer` through to msgpack.

[2017-06-13 01:45] #133 closed

[2017-07-02 22:11] kirillrdy opened #138 "jruby MessagePack::Unpacker is loading all data from stream"
It looks like mri version of unpacker does buffered reads from the stream when given an io, but jruby version is loading all data from stream into memory.
Example code
[code]
I hope this finding at least helps someone

[2017-09-22 05:07] abbshr opened #140 "[JRuby] Thread blocked on `MessagePack::Unpacker.new(socket)`"
[code]

but if `MessagePack::Unpacker.new(file_stream)` is called on a file I/O stream, everything is ok

[2017-10-27 23:45] mwpastore opened #141 "Feature Request: Fool-proof MessagePack::Factory#pack and #unpack methods"
I'd like to create a Factory instance to register a custom type and avoid polluting the DefaultFactory, but it's unclear how to use Factory#packer and Factory#unpacker in the simple case. It's definitely not as straightforward as MessagePack.pack and MessagePack.unpack. I see Packer#full_pack and Unpacker#full_unpack in the master branch, but they don't seem to be available in the current release.

[2017-12-06 04:47] #141 closed

[2017-12-08 10:00] petr666 opened #148 "[JRuby] msgpack 1.2 does not load"
Hi,
"require msgpack" on JRuby fails with "no such file to load -- msgpack/msgpack". It seems there is no msgpack.jar bundled in gem.

[2017-12-08 10:29] tagomoris commented on #148
Thank you for reporting it!
I re-released v1.2.1-java, and verified it on my laptop.
[code]

@petr666 Could you check it on your side too?

[2017-12-08 12:02] petr666 commented on #148
With 1.2.1 everything is working. Thanks for quick fix.

[2017-12-08 12:02] #148 closed

[2017-12-12 12:30] tagomoris opened #149 "use rb_check_frozen for frozen Factory check"
for MRI

[2018-01-03 13:45] doits opened #150 "sometimes segfaulting with ruby 2.5.0"
Sometime after upgrade to ruby 2.5.0 I hit the following segfault:

[code]

It does not happen always, but happened already multiple times (3-4 times) on my docker CI instance running my rails test suite (so I cannot reproduce it 100 %).

This never happened on ruby 2.4.3 (and before), so it might have something to do with 2.5.0.

Anybody knows what happening or how to further debug this?

[2018-01-09 10:12] tagomoris commented on #150
I've not identified the root cause yet, but found that we can reproduce SEGV 100% with these steps:
* `rake compile`
* `ruby -Ilib -rmsgpack -e 'GC.stress = true; p RUBY_VERSION; f = MessagePack::Factory.new; f.register_type(0x00, Symbol);'`

I'm not sure whether this problem is the same one with this issue, because these steps cause SEGV on ruby 2.4.x too.

[2018-01-10 20:16] doits commented on #150
@tagomoris Maybe it was just a coincidence that it happened for me some days after updating to 2.5.0 for the first time.

[2018-01-11 06:05] #136 closed

[2018-01-11 06:36] tagomoris commented on #150
@doits Yeah, I'm supposing that it's caused by GC behavior (very minor) change brought by Ruby 2.5.
As far as I saw your stack trace, #151 should solve that problem.
I've just released v1.2.2, including that fix. Could you try that version?

[2018-02-02 12:30] ThomasKoppensteiner commented on #30
How does the "support by ext types" work?
For me this is still an issue (on JRuby-9.1.15.0 and msgpack 1.2.2):

[code]

[2018-02-07 16:19] markusschaber commented on #57
It's missing in the MsgPack spec (see https://github.com/msgpack/msgpack/issues/206), and thus msgpack-ruby cannot do anything without violating the spec. :-(

[2018-03-01 12:19] sohnryang opened #154 "Cannot install in ruby 2.5.0 in Windows with rubygems"
Log:

[code]

[2018-03-02 02:04] tagomoris commented on #154
I've merged #153, and released v1.2.3.
Could you try it?

[2018-03-02 08:33] fujimotos commented on #154
@tagomoris I checked the windows package of v1.2.3 and found that the package only
contains `msgpack.so` for Ruby 2.0/2.5. So it does not work for other Ruby versions.

I confirm this by the following procedure:

[code]

Apparently, this breaks other project's build system. For example, Fluentd's Windows CI
testing is now failing since it cannot load msgpack on Ruby v2.3.0.

[2018-03-02 10:45] tagomoris commented on #154
I've released v1.2.4 again, with confirming the content of files.
[code]
I'm so sorry to release buggy gem.

[2018-03-03 01:17] fujimotos commented on #154
Thanks for the swift response!
I can confirm that the Widows package (v1.2.4) is now working with Ruby 2.1-2.4.

Also I tested the package with Ruby 2.5 on `x64-mingw32`, and found it works without
problems too.

[2018-03-03 15:38] sohnryang commented on #154
I know it's quite late, but it works!
Thanks!

[2018-03-03 15:38] sohnryang commented on #154
I think I can close this issue now.

[2018-03-03 15:38] #154 closed

[2018-03-11 15:39] paddor opened #155 "Any plans on providing a generic object serialization?"
I'd love to see MsgPack able to be used like `Marshal` or Oj's object mode (`Oj.dump obj, mode: :object`). Are there any plans on supporting that? This has been the main reason keeping me from using MsgPack, and I don't want to convert my objects to Hashes before serialization / convert from Hashes after deserialization.

[2018-03-11 17:35] tagomoris commented on #155
No. That's not thing of msgpack.

[2018-03-11 17:35] #155 closed

[2018-03-28 07:50] Rahul-Sharma-87 opened #156 "Issue with difference in size of message Pack based on different language"
Hi,

I m facing issue where same message **Packed** with the ruby and C# has different number of bytes and where ruby code msgpack library gives below warning while unpacking:
Error in processing message. error_class=MessagePack::MalformedFormatError error=#### <MessagePack::MalformedFormatError: 11 extra bytes after the deserialized object>

My intention is to send data from c# to ruby program.

[2018-06-21 13:09] andrew-aladev opened #157 "Unpacker's buffer is broken after EOF"
Lets feed unpacker's buffer with some object. We can "forget" to feed the last byte.

[code]

Now we are trying to read some data.

[code]

[code]

Buffer is broken, we couldn't clear it. But we could feed the last byte and read our message.

[code]

I think that it is an issue with some pointer that should be reverted after some error like EOF.

[2019-01-07 14:17] francesco-loreti opened #159 "Cannot install in ruby 2.6.0 in Windows with rubygems"
ERROR:  Error installing msgpack:
        The last version of msgpack (= 1.2.4) to support your Ruby & RubyGems was 1.2.4. Try installing it with `gem install msgpack -v 1.2.4`
        msgpack requires Ruby version >= 2.0, < 2.6. The current ruby version is 2.6.0.0.

[2019-01-08 04:31] kou commented on #159
The restriction is caused by rake-compiler.
You'll be able to install msgpack gem by `gem install msgpack --platform ruby`.

[2019-01-08 04:31] kou commented on #159
https://rubygems.org/gems/msgpack/versions/1.2.4-x64-mingw32 shows "Required Ruby Version:
< 2.6, >= 2.0".

[2019-01-08 04:32] kou commented on #159
Or providing msgpack gem compiled with the latest rake-compile will solve this.

[2019-01-08 04:35] tagomoris commented on #159
Ah, I see... it's about Windows environment.
I'll release a minor update later to solve it using latest rake-compiler.

[2019-01-08 06:44] tagomoris commented on #159
@kou I created a new release using `rake-compiler` 1.0.7 (latest), but it creates a gem binary with `Ruby >= 2.0, < 2.6.DEV`. Is it correct & intentional?
https://rubygems.org/gems/msgpack/versions/1.2.5-x86-mingw32

[2019-01-08 07:05] kou commented on #159
Ah, sorry. You need to use the latest rake-compiler-dock.

[2019-01-08 07:06] kou commented on #159
https://rubygems.org/gems/rake-compiler-dock/versions/0.7.0 includes Ruby 2.6 support.

[2019-01-08 07:30] tagomoris commented on #159
I retried with `rake-compiler-dock` 0.7.0, but it produces a metadata like this:
[code]

[2019-01-08 07:39] kou commented on #159
We need to add `2.6.0` here: https://github.com/msgpack/msgpack-ruby/blob/master/Rakefile#L69
Or we can remove `RUBY_CC_VERSION` at all. The default `RUBY_CC_VERSION` includes `2.6.0`: https://github.com/rake-compiler/rake-compiler-dock/blob/master/Dockerfile.mri#L120

[2019-01-08 07:43] tagomoris commented on #159
@kou Oops, I've forgotten about it. I'll add notifications to myself to update these 🙇
Thank you!

[2019-01-08 07:55] tagomoris commented on #159
Released `v1.2.6` which supports Ruby 2.6 on Windows.
https://rubygems.org/gems/msgpack/versions/1.2.6-x86-mingw32
https://rubygems.org/gems/msgpack/versions/1.2.6-x64-mingw32

@francesco-loreti Thank you for reporting!

[2019-01-08 07:55] #159 closed

[2019-03-07 13:06] erikarvstedt opened #164 "Regression: Error when unpacking from io"
Reproduce:
[code]
`MessagePack.unpack(io)` used to work in older versions like 1.0.2.
To fix this it's probably enough to change the default value of [`param`](https://github.com/msgpack/msgpack-ruby/blob/04012e3e8a8c12f8d4130d212a3d4a90ee78baad/lib/msgpack.rb#L24) to a Hash.

[2019-03-11 01:25] tagomoris commented on #164
I confirmed that it's a regression introduced at `v1.2.0`.
I'm preparing a bugfix and release `v1.3.0`.

[2019-03-11 04:28] #164 closed

[2019-03-11 04:36] tagomoris commented on #164
I've released `v1.2.8` with fixes for this regression. `v1.2.8` is better than `v1.3.0` for people who specifies `~> 1.2.x`.

[2019-03-12 18:28] amacleay opened #166 "msgpack-1.2.8 does not load for jruby"
Similar to #148 I think.

Tested with jruby-9.2.5.0 on
[code]

[code]

Thanks!

[2019-03-13 01:44] tagomoris commented on #166
I'm very sorry about that. `v1.2.8-java` had a problem.
I committed a change to build `-java` gem correctly: https://github.com/msgpack/msgpack-ruby/commit/4676d99bdb200da8edcfdae0a632eff7e3ae31c9
And released `v1.2.9`.

@amacleay Could you check it?

[2019-03-13 14:06] amacleay commented on #166
Excellent work, thank you so much for your rapid fix!

[2019-03-13 14:06] #166 closed

[2019-10-09 19:28] martelogan opened #173 "Fix (Potentially) Unnecessary T_HASH Check"
I could be mistaken but there seems to be an unnecessary double-check for `T_HASH` here:

https://github.com/msgpack/msgpack-ruby/blob/b48f9580bfd33be6a86652f10a41bd691a7d0c91/ext/msgpack/unpacker_class.c#L78-L80

Why is the second check required when we've already tested the type of `v` against `T_HASH`, then only rebound it to `options` ?

I could be missing something here since I notice [`v0.5.

[2019-10-10 00:17] #173 closed

[2020-01-09 13:49] Mahagon opened #175 "cant install msgpack ob ubuntu 18.04"
Hey :),

i am currently trying to install msgpack 1.3.1 for a test environment.

* puppetserver 6.7.2
* ubuntu/bionic64 vagrant image

I cant figure out why i get this error, so i hope you guys can help me

    /opt/puppetlabs/puppet/lib/ruby$ sudo /opt/puppetlabs/puppet/bin/gem install msgpack
    Building native extensions. This could take a while...
    ERROR:  Error installing msgpack:

[2020-01-09 23:58] tagomoris commented on #175
The message explains to see `mkmf.log`, and previous message also says:
[code]

See your logs to find missing something.

[2020-01-21 15:30] pvalena opened #176 "non-executable scripts in bench"
In version 1.3.1, there are 3 `bench/run*.sh` scripts, that are missing executable bit, but there is `#!/bin/sh`.

[2020-01-22 08:28] Mahagon commented on #175
the packeges **gcc make** and **rubygems**
thx for the help

[2020-01-22 08:28] #175 closed

[2020-02-03 01:42] francesco-loreti opened #177 "Add support for Ruby-2.7"
Installing msgpack 1.3.1 (x64-mingw32)
Gem::RuntimeRequirementNotMetError: msgpack requires Ruby version >= 2.2, <
2.7.dev. The current ruby version is 2.7.0.0.
An error occurred while installing msgpack (1.3.1), and Bundler cannot continue.
Make sure that `gem install msgpack -v '1.3.1' --source 'https://rubygems.org/'`
succeeds before bundling.

S.O. Windows

[2020-02-04 06:42] tagomoris commented on #177
After merging #178, I've released v1.3.2 with Ruby 2.7.0 support for Windows.
@francesco-loreti Could you check it works well in your environment?

[2020-02-05 01:49] kmasuda-aiming commented on #177
Check gem, ruby 2.7 binary does not include.
![image](https://user-images.githubusercontent.com/12092574/73803602-a72c7880-4804-11ea-8852-7256b21d63e8.png)

Perhaps rake-compiler-dock version use version 1.0.0 or higher.
https://github.com/rake-compiler/rake-compiler-dock/blob/master/History.md#100--2020-01-04

[2020-02-05 01:54] tagomoris commented on #177
Uh-wow. I'll make the next release quickly. Thank you for checking.

[2020-02-05 09:12] tagomoris commented on #177
I've pushed `v1.3.3` after some tries&errors, and I've confirmed that those released gems contain `lib/msgpack/2.7/msgpack.so`.
Can someone check those work well?

[2020-02-05 11:22] kmasuda-aiming commented on #177
It seems to be working fine, thanks!
[code]

[2020-02-06 00:40] tagomoris commented on #177
@kmasuda-aiming Thank you for checking it, and @francesco-loreti Thank you again for raising this up!

[2020-02-06 00:40] #177 closed

[2020-02-22 02:01] Brunomm opened #180 "NoMemoryError (failed to allocate memory)"
When I use the following string, a memory error occurs.
[code]

I'm using [this tool](http://output.jsbin.com/cayuhox) to test and generate a Base64 Pack where I later decode the base64 and try to run the unpack.
When using the following JSON the error is occurring:
[code]

But it's curious when I substitute the word birth_date for birthdate the problem doesn't happen:
[code]

My ruby version is 2

[2020-02-22 02:51] tagomoris commented on #180
I tried all of your example code, but it works well without NoMemoryError. The first two unpack example seems having invalid input data and those failed with EOFError (because of insufficient valid input).
(I tried on macOS with Ruby 2.7.0.)

@Brunomm Could you add your environment in detail (OS, output of `ruby --version`) and also share the exact script you tried (using gist or something)?

[2020-02-22 12:26] Brunomm commented on #180
Hi @tagomoris

My version of Ruby and OS is `ruby 2.7.0p0 (2019-12-25 revision 647ee6f091) [x86_64-linux]`.

I believe that I have found a solution for my specific case.

Here is the gist with an example where the error occurs and with a solution I found.
https://gist.github.com/Brunomm/ba9de5fcf4e007b46561d2cfbeffaeeb

As I am using a [lib in Javascript](https://www.npmjs.com/package/json-url) to

[2020-02-25 02:41] tagomoris commented on #180
That is an error (or encode-decode mismatch) about base64 encoding, not the bug of msgpack.
Thanks for reporting, but we have nothing to do about it.

[2020-02-25 02:41] #180 closed

[2020-02-27 01:09] jongbeau opened #181 "Should I be able to serialize class objects?"
I have a complex class object.  When I run `MessagePack::Packer.new(obj))`, I get `NoMethodError: undefined method `to_msgpack' for #<MyModule::MyClass:0x00007feb3662e548>`.

[2020-02-27 01:26] tagomoris commented on #181
Read the document about [extension types](https://github.com/msgpack/msgpack-ruby#extension-types). That shows how to serialize/deserialize objects of your own classes.

[2020-02-27 01:26] #181 closed

[2020-04-03 10:00] ioquatix opened #182 "Is it working for Ruby 2.7 on Darwin?"
Getting some odd issues on travis: https://travis-ci.com/github/socketry/async-http/jobs/313419314

[code]

[2020-04-04 02:35] tagomoris commented on #182
It's working on my laptop:
[code]

[2020-04-04 09:24] ioquatix commented on #182
Did you install the gem from source or from rubygems? Is it version 1.3.3?

I tried restarting travis but it has the same issue.

[2020-04-04 09:26] ioquatix commented on #182
Locally on my laptop it also worked fine:

[code]

So maybe an issue with travis?

[2020-04-04 09:35] ioquatix commented on #182
Okay, I tried deleting the travis cache and the issue is now gone. So I guess it was caching the gem for the wrong arch or something else weird.

[2020-04-04 09:35] #182 closed

[2020-05-14 10:55] thibpoullain opened #186 "Rubocop version update"
Hi,

I've got this message in my gitlab CI when I user `bundle exec rubocop`

[code]

However, the command works on my mac. Is the gem needs to update his rubocop config ?

Thx :)

My gemfile :

[code]

[2020-05-15 01:29] tagomoris commented on #186
Duplicated with #185 .
I've not released it yet, but the releases only for Rubocop sounds horrible.

[2020-06-11 05:49] ioquatix opened #187 "Async buffer safety"
Hello.

I'd like to check if msgpack should be safe to use with async.

i.e.

[code]

It would be great to make an official position and some examples.

[2020-06-11 06:15] tagomoris commented on #187
Packer/Unpacker receive the IO-like object but we don't test behaviors with Async::IO objects now.
Packer will never call `#close_write`, and Unpacker can't handle read timeouts correctly.

Typically, we'll use the `Unpacker#feed_each` method with async I/O sockets, like below:
[code]
We can see the actual/working example on [Fluentd code](https://github.com/fluent/fluentd/blob/master/lib/fluent/p

[2020-06-11 06:41] ioquatix commented on #187
Inverted flow control is not easy to deal with.

I tried it and it seems to work okay.

`Async::IO` will behave like normal IO object.

It called `Fiber.yield` when the operation would block.

[2020-06-11 06:54] tagomoris commented on #187
If we should say the answer officially, it'll be "We don't test it, so corner cases may cause something wrong".
Requirements on argument io objects are to respond `#write` (or `#append`) and `#readpartial` (or `#read`) as documented [here](http://ruby.msgpack.org/MessagePack/Packer.html#initialize-instance_method) and [here](http://ruby.msgpack.org/MessagePack/Unpacker.html#initialize-instance_met

[2020-06-11 07:19] ioquatix commented on #187
Thanks for pointing me at the documentation. Those methods are supported so it should be fine. I found that documentation hard to find/locate, I ended up looking through the C source code to try and figure out the required interface.

The only part that was tricky for me was I didn't know to call `packer.flush`. Is this documented?

[2020-06-11 07:24] ioquatix commented on #187
[code]

This is coming out of unpacker.read when the internal socket is closed.

I assume this is normal? Ruby sometimes throws weird exceptions and I guess you can transit nil through the msgpack stream, so returning nil wouldn't be good enough.

[2020-06-11 07:32] tagomoris commented on #187
We can see the example that does it in "Streaming serialization" section: http://ruby.msgpack.org/

That's true. We need to rescue `EOFError` when we use the `#read` method with the `io` argument. Returning `nil` is not expected by any users as you wrote.
`Unpacker#each` doesn't have such a problem, I think.

[2020-06-11 12:18] ioquatix commented on #187
I confirmed this in my own code.

[2020-06-11 14:28] ioquatix commented on #187
FYI here is my code that I was messing around with today: https://github.com/socketry/async-container/blob/master/examples/queue/server.rb

[2020-06-11 23:34] ioquatix commented on #187
My original request is satisfied by the links to the documentation, thanks for your help.

[2020-06-11 23:34] #187 closed

[2020-09-08 00:54] tagomoris opened #192 "Stop Releasing fat gem"
"Fat gem" means gem releases with binaries for each environment. MessegePack-ruby releases are fat gem for Windows environments. (And JRuby release is a kind of fat gem, but it's out of scope of this issue.)

Recent RubyInstaller for Windows includes dev environments (for Ruby 2.4+), and most Ruby users are using that environment. Ruby 2.3 is already EoL, and msgpack-ruby also doesn't support Ruby

[2020-09-08 13:52] tagomoris commented on #192
https://rubygems.org/gems/msgpack/versions/1.4.0.pre1

[2020-09-08 14:58] emorima commented on #192
I've checked this on Windows10 with Ruby 2.7.1. and successed. :)

[code]

[2020-11-21 07:07] TonyWu20 opened #195 "Missing support for Apple Silicon"
Calling msgpack-ruby on Mac with Apple Silicon will show
``
LoadError:
  dlopen(/Users/tonywu/Downloads/msgpack-ruby-master/lib/msgpack/msgpack.bundle, 0x0009): missing compatible arch in /Users/tonywu/Downloads/msgpack-ruby-master/lib/msgpack/msgpack.bundle - /Users/tonywu/Downloads/msgpack-ruby-master/lib/msgpack/msgpack.bundle
``
Since msgpack has supported Apple Silicon, I hope the msgpack-rub

[2020-11-24 11:56] tagomoris commented on #195
Could you check what happened if you do:
[code]

[2020-11-24 12:01] TonyWu20 commented on #195
I brew installed the ruby compiled for arm64 architecture, and then I conducted the commands. The output is:
[code]

[2020-11-24 12:14] tagomoris commented on #195
I guess there is a mismatch between the ruby runtime's architecture (x86/arm64) and the msgpack's binary architecture (this should be determined by the architecture when you run `gem install msgpack`).

I don't have M1 mac for now, so I cannot identify & fix this problem immediately.

[2020-11-24 12:37] nobu commented on #195
It is caused by rubygems which copies shared objects to the library path w/o the arch name.
The same shared object should exist under /opt/homebrew/lib/ruby/gems/2.7.0/.
If there is the bundle for arm, you will be able to load it by removing the wrong bundle file under /opt/homebrew/lib/ruby/gems/2.7.0/gems/.

[2020-12-27 16:50] TonyWu20 commented on #195
This works. Closed with thanks

[2020-12-27 16:50] #195 closed

[2021-01-12 13:25] tagomoris opened #197 "Remove unnecessary ifdef definitions"
Now msgpack-ruby supports Ruby 2.4 or later, but the source tree is still containing many ifdef definitions for much older Ruby versions.
We should remove those to make it easy to maintain our source code.

[2021-01-12 13:25] tagomoris commented on #197
`COMPAT_HAVE_ENCODING` https://github.com/msgpack/msgpack-ruby/pull/196/files#r532515695

[2021-01-26 23:43] tagomoris commented on #192
The version `1.4.0.pre1` also works for my M1 mac + Ruby 3.0.0:
[code]

[2021-01-26 23:56] #192 closed

[2021-01-27 11:23] casperisfine opened #200 "Regression in 1.4.0: encoding is not preserved for strings longer than 255 bytes"
I'm digging in the problem right now, and hopefully I should find a fix, but just to let you know @tagomoris

[code]

[code]

This could be related to my recent encoding cleanup.

[2021-01-27 12:59] #200 closed

[2021-01-27 13:07] tagomoris commented on #200
Released 1.4.1.
@casperisfine Thank you for the quick report and fix!

[2021-01-27 13:12] casperisfine commented on #200
Welcome. My bad for not testing master against our app before you cut the release. I could have saved us all some time :/

[2021-01-28 17:06] marcotc opened #205 "Failing to install for Ruby <= 2.1 since 1.4.0"
I tried installing the last release of `msgpack` on Ruby 2.1, but got a compilation error:
[code]

I believe this was introduced in https://github.com/msgpack/msgpack-ruby/pull/196.

[2021-01-28 23:57] tagomoris commented on #205
Ruby 2.1's EoL (End of Life) was April 1, 2017, and the latest msgpack-ruby doesn't support that version now.
It is an intentional change.

[2021-01-30 14:47] HoneyryderChuck commented on #205
Had the same error.

@tagomoris if that is so, then it should be properly advertised, both in the CHANGELOG, as well as in the required ruby version constraint from the gemspec. Compiling-then-failing at runtime is not the greatest of experiences.

[2021-02-01 03:04] tagomoris commented on #205
I still STRONGLY recommend to stop using EoL Ruby versions, but it's also reasonable to restrict using recent msgpack versions on such old rubies.
I'll release 1.4.2 with required-ruby-version, then yank 1.4.0 and 1.4.1 from RubyGems.org.

[2021-02-01 03:20] tagomoris commented on #205
I've released v1.4.2 with `required_ruby_version >= 2.4` and yanked 1.4.0 and 1.4.1.
@marcotc @HoneyryderChuck Could you confirm it in your environment?

[2021-02-01 03:48] regentgal commented on #205
Yanking 1.4.1 has broken our bundle

[code]

We are indirectly dependent on msgpack through bootsnap

[code]

[2021-02-01 03:56] ro-savage commented on #205
@tagomoris - Yanking the versions broke our builds as well. (We had to manually upgrade msgpack in our ruby-lock)

[2021-02-01 04:40] tagomoris commented on #205
I'm very sorry for the case that `Gemfile.lock` already specifies `1.4.1` (or `1.4.0`), but yanking those versions is the only solution for this problem. Please update it again to `1.4.2`.
Thank you for trying those versions very early, and reporting your situation.

[2021-02-01 07:36] ro-savage commented on #205
Thanks for rectifying it so quickly and being so responsive. You're a great maintainer!

FYI, we use Github Dependabot which updated gem that asked with a dependency of `msgpack (~> 1.0)`.

When the gem (bootsnap) was updated it automatically updated our lockfile to the latest msgpack at the time.

I am not sure how things are done in the ruby world, but on NPM they don't allow pulling a released

[2021-02-01 08:09] severin opened #207 "Version 1.4.1 yanked?"
Hi, we had version 1.4.1 locked in our *Gemfile.lock* and noticed that installation started to fail recently. Installing that version "by hand" no longer works either:

[code]

What happened to 1.4.1?

[2021-02-01 08:14] tagomoris commented on #207
1.4.1 was yanked because 1.4.1 (and 1.4.0) caused compilation errors on (very) old Ruby versions: https://github.com/msgpack/msgpack-ruby/issues/205
If we leave 1.4.1 on RubyGems, so many issues just like #205 would be reported for a very long time. I know yanked 1.4.1 is causing dependency errors right now, but it should have to be done for long-time maintenance cost reduction.
Thank you for your

[2021-02-01 08:19] severin commented on #207
Thanks for the explanation

[2021-02-01 08:19] #207 closed

[2021-02-01 09:47] fabiensebban opened #208 "Fail fetching v 1.4.1"
Since today, version 1.4.1 cannot be found to be downloaded. So I can't run `bundle install` if my environment (actually using docker containers) did not previously download this version.

Here is the error message:

[code]

To solve the problem I had to `bundle update` to get the 1.4.2 version. I just post this issue here in case someone has the same error.

[2021-02-01 10:06] Charizard commented on #207
@tagomoris So, the right solution is to manually change deps in lockfile to point to 1.4.2?

[2021-02-01 10:27] tagomoris commented on #207
@Charizard Exactly.

Much more people are updating their `.lock` so quickly than I expected (and it's used for Rails application dependency...).
The ideal solution was to leave 1.4.1 for a while, then yank it after people would update their dependency to 1.4.2.
But anyway, I'll keep `1.4.1` yanked, so, please update the locked `msgpack` version to `1.4.2`.

[2021-02-01 10:29] tagomoris commented on #208
I yanked `1.4.1` to resolve the problem of #207.
Please update your locked dependency to `1.4.2`. Thank you for your patience.

[2021-02-01 10:42] fabiensebban commented on #208
Sorry @tagomoris , I did not see this issue.
I close this one.

[2021-02-01 10:42] #208 closed

[2021-02-01 12:21] HoneyryderChuck commented on #205
@tagomoris I saw you took action, thank you for this.

Just a heads-up that 1.4.0 was working fine in ruby 2.2 . I'll take from the comments above that setting minimal supported ruby to 2.4 has to do with following the EOLs from the ruby core team.

As much as I can relate to the limitations of supporting older rubies, I'm also not in favour of adopting the ruby core team support policy for no app

[2021-02-01 20:57] marcotc commented on #205
Thank you for the super responsive actions, @tagomoris.

For my original use case, the issue is no longer present and I'm ok with closing this GH issue.

Yanking the "bad" versions from RubyGems now allow bundler to correctly install the latest working version for Ruby 2.0 and 2.1 (`1.3.3`).

[2021-02-02 00:30] tagomoris commented on #205
@HoneyryderChuck If you (and other people) want to keep using old versions even after EoLs, you can lock the dependency explicitly. Ruby 2.2 was outdated years ago, and even security fixes will not be provided for that version. Keeping C API interoperability for such versions decreases maintainability so much.
Thanks for your opinion.

[2021-02-08 13:41] analyn34 commented on #195
surprisingly, installing  `msgpack` works on me.

[2021-03-03 15:54] messutied commented on #195
Hi @TonyWu20, I'm facing the same issue, can you explain what exactly you did to get this fixed?

[2021-03-03 23:21] zahiar commented on #205
For such a breaking change, any reason why this package wasn't bumped to 2.0.0 (next major version), that way this wouldn't have broken so much stuff that brings in msgpack loosely, aka any 1.x.x version rather than an explicit pinned version.

[2021-03-12 10:40] xtalkme opened #214 "missing 1.4.2-x64-mingw32 on rubygems.org"
Hello,

It seems that 1.4.2-x64-mingw32 is missing on [rubygems.org](https://rubygems.org/gems/msgpack/versions).
Not sure this is intended, but it creates issues with installing fluent-logger, due to dependency "msgpack >= 1.0.0, < 2"
Also not sure this is the right place, in case it is not, my bad.

Thanks in advance!

[2021-03-14 23:56] tagomoris commented on #214
Recently, we're trying to [stop supporting fat gems](https://github.com/msgpack/msgpack-ruby/pull/193) to reduce the maintenance cost of this library. It's supposing that most Windows Ruby runtime environments have compilers for native libraries that can build msgpack (without `-mingw` suffix) gems.
But if you've seen error messages, our assumption may be incorrect.
@xtalkme What's the environment

[2021-03-15 08:44] xtalkme commented on #214
@tagomoris Thanks for your help.
I am by no means an expert on this subject, ill do my best to explain our use case.

We run into these errors when we use the puppet agent's (6.4.2) built-in Ruby 2.5 version. (Old)
When I install the 2.5.8 with the devkit, I'm able to build the package.
I will test this with a more recent version of the puppet agent and let you know the results.

[2021-03-15 13:20] messutied opened #215 "Apple M1 error: cannot load such file -- msgpack"
Getting the following error in Apple M1 Macbook Pro:

[code]

Found a relevant closed ticket https://github.com/msgpack/msgpack-ruby/issues/195 but their instructions are not clear, some clarification would be highly appreciated.

[2021-03-15 15:13] xtalkme commented on #214
@tagomoris we get the same error running the latest puppet agent version.
(You have to install development tools first.)
Installing msgpack version 1.3.3 works fine with this ruby environment.

[2021-03-16 01:47] tagomoris commented on #214
@xtalkme Yes, installing development tools is the key requirement for msgpack-ruby 1.4 or later. I want to keep it if there seem no serious blockers.

[2021-03-16 01:53] tagomoris commented on #215
You may have a msgpack binary under `/Library/Ruby/Gems/2.6.0/gems/` with arch name (arm). If so, rubygem may be able to find it by removing the problematic binary which is causing the current error (`/Library/Ruby/Gems/2.6.0/gems/msgpack-1.4.2/lib/msgpack/msgpack.bundle`).

JFYI: I'm running Ruby & msgpack-ruby on my M1 mac by building/installing my own Ruby runtime, not system ruby :D

[2021-03-16 09:03] messutied commented on #215
Thanks for the JFYI! Realized I was still using system ruby even though I had installed it through homebrew, adding homebrew's to my path to enable it solved the issue, so closing this ticket.

[2021-03-16 09:03] #215 closed

[2021-03-18 03:40] luzanto commented on #215
Hi @messutied, I'm having the same problem. Could you explain which steps did you follow to solve the issue? I would really appreciate your answer =)

[2021-03-18 06:10] messutied commented on #215
Hi @luzanto, using ruby from Homebrew is what solved the issue for me, I had already installed it, I just needed to include it in my path, I ran `brew info ruby` and there I found instructions on how to do that.

[code]

Instructions might be different for you, I suggest you try with `brew info ruby` too.

[2021-03-23 01:21] netrabadami commented on #195
Can i know how has it been resolved. i am facing the same issue

ruby -e 'require "msgpack"'
Traceback (most recent call last):
	2: from -e:1:in `<main>'
	1: from /System/Library/Frameworks/Ruby.framework/Versions/2.6/usr/lib/ruby/2.6.0/rubygems/core_ext/kernel_require.rb:54:in `require'
/System/Library/Frameworks/Ruby.framework/Versions/2.6/usr/lib/ruby/2.6.0/rubygems/core_ext/kernel_require.rb:5

[2021-03-23 18:43] netrabadami commented on #195
i did not install ruby using homebrew, hence there is nothing in /opt/homebrew. I ran bundle that installed ruby for me.
Am i missing anything basis out here?

[2021-03-27 15:12] RipeFruit08 commented on #195
Would this happen if not using Homebrew? I'm experiencing this issue on an M1 Mac but haven't used Homebrew on this machine. Where might this wrong bundle file exist then?

[2021-03-28 03:54] nobu commented on #195
You can see the path which caused the problem, in the log which you posted.

`/Library/Ruby/Gems/2.6.0/gems/msgpack-1.4.2/lib/msgpack/msgpack.bundle` appears three times.

[2021-06-18 11:42] casperisfine opened #224 "Feature Request: Alternative `register_type` API allowing one level of recursion"
Note: I'm saying feature request but I'm willing to implement it myself. I had a quick look and I think it's doable, but I'd rather get a bit of feedback first as it's non-trivial.

### Context

msgpack's extension types are great, but sometimes a bit limited. It work well for simple value types like `Time` etc, but in many cases serializing a complex object to a binary string is tricky.

What we'

[2021-07-12 20:22] MouhaDiouf commented on #195
Hi, can someone make this more clear? I don't understand what solved the issue.

[2021-09-30 11:55] hiroyuki-sato opened #226 "raise NoMethodError (undefined method `runtime' for JRuby:Module) on JRuby 9.3.0.0"
Hello, Developers

msgpack 1.4.2 raise `NoMethodError (undefined method `runtime' for JRuby:Module)` on JRuby 9.3.0.0
And Now, I'm asking how to fix this on https://github.com/jruby/jruby/issues/6868

* JRuby 9.3.0.0
* msgpack-1.4.2

### Reproduce steps

[code]

[code]

## Fixing this issue. ~~(But this change incomplete)~~

[code]

[code]

~~But this change break msgpack loading on JRuby 9.2.19.0

[2021-10-01 02:09] #226 closed

[2021-10-19 09:28] ivoanjo opened #231 "Release latest version with fix for JRuby 9.3?"
Howdy!

I came here because I got bitten by #226 . I was glad to see that it was fixed, but I'd like to ask for a release including that fix, as otherwise it's really awkward to use, since because of the native bits, one can't just consume the git version of this gem.

Thanks again for all your awesome work on msgpack, and on supporting JRuby :)

[2021-10-19 12:02] tagomoris commented on #231
Now I have a problem about running JRuby on my laptop - it's the barrier about the release :(
https://github.com/msgpack/msgpack-ruby/pull/225#issuecomment-941911143

[2021-12-23 15:02] dmitriklein opened #232 "msgpack-ruby-master: bundle fatal: Not a git repository (or any parent up to mount point)"
cd msgpack-ruby-master

-bash-3.2$ bundle
fatal: Not a git repository (or any parent up to mount point /export0)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).
fatal: Not a git repository (or any parent up to mount point /export0)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).
Fetching source index from https://rubygems.org/

Retrying fetcher

[2021-12-23 16:08] dmitriklein opened #233 "gem install msgpack-1.3.3.gem generates make: Fatal error: Command failed for target `buffer.o'"
gem install msgpack-1.3.3.gem --debug

...
Exception NoMethodError' at /opt/csw/lib/ruby/2.0.0/rubygems/package.rb:420 - undefined methodreadpartial' for #Gem::Package::TarReader::Entry:0x877f634

...
Exception Errno::ENOENT' at /opt/csw/lib/ruby/2.0.0/fileutils.rb:1439 - No such file or directory - /opt/csw/lib/ruby/gems/2.0.0/gems/msgpack-1.3.3/spec/spec_helper.rb
...
ExceptionErrno::ENOENT' at

[2021-12-24 00:27] tagomoris commented on #233
Are you using Ruby 2.0.0? It's completely outdated.
Use newer Ruby version and msgpack-ruby.

[2021-12-24 00:28] tagomoris commented on #232
It's not a msgpack-ruby problem, but your environment (or usage of git/bundler).

[2021-12-24 00:28] #232 closed

[2021-12-27 19:22] dmitriklein opened #234 "Installing msgpack-ruby on Solaris 10: fatal: Not a git repository"
-bash-3.2$ pwd
/export0/home/telegraf/fluentd/msgpack/msgpack-ruby-master
-bash-3.2$ bundle
fatal: Not a git repository (or any parent up to mount point /export0)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).
fatal: Not a git repository (or any parent up to mount point /export0)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).
Fetching source

[2021-12-28 00:22] tagomoris commented on #234
It's not a msgpack problem, but your environmental issue about network connectivity.
Read those messages carefully.

[2021-12-28 00:22] #234 closed

[2022-01-06 13:37] cmolina commented on #195
I needed to delete some gems that were targeting a wrong architecture.

These instructions use `bundle`, but you can adapt them to whatever you use. This worked for me:
1. Open a new terminal, make sure running `arch` outputs `arm64`
1. Delete your gems. Because I use `bundle`, I followed this [SO answer](https://stackoverflow.com/a/62320946):
    1. Comment all the lines of your `Gemfile`
    1.

[2022-01-14 01:57] prakhunov commented on #231
Just curiousy if there are any updates on cutting a new release ?

[2022-01-14 08:39] ivoanjo commented on #231
Looks like support for macOS ARM is now in the latest snapshot builds: https://twitter.com/headius/status/1479188425660149761 .

[2022-01-14 17:06] prakhunov commented on #231
Yup I don't even think that support is necessary, looks like JRuby 9.3.2.0 fixed the issues of it not running at all.

https://github.com/jnr/jffi/pull/116
https://github.com/jnr/jnr-ffi/issues/257

[2022-01-19 22:06] ahorek commented on #231
@tagomoris try it out https://www.jruby.org/2022/01/19/jruby-9-3-3-0.html or let us know if you have any issues, thanks!

[2022-01-20 02:21] tagomoris commented on #231
I've just released `v1.4.3`.
Thank you @ivoanjo for pinging me and @ahorek for the comment about jruby 9.3.3.0!

[2022-01-20 02:21] #231 closed

[2022-01-20 09:20] ivoanjo commented on #231
Thank you for the awesome work on msgpack! :)

[2022-01-20 09:56] tagomoris commented on #214
Let me close this issue. Please reopen this or create another if there still be problems.

[2022-01-20 09:56] #214 closed

[2022-01-20 09:56] #233 closed

[2022-01-20 09:57] #186 closed

[2022-01-20 09:58] #150 closed

[2022-01-20 12:36] ivoanjo opened #239 "Latest msgpack (1.4.3) broken on JRuby when using Java 8 VM"
Hello! I work on Datadog's [ddtrace gem](https://github.com/DataDog/dd-trace-rb) and noticed this issue [on our CI](https://app.circleci.com/pipelines/github/DataDog/dd-trace-rb/5167/workflows/1808cc8b-e055-479c-a50d-f00469b260fb/jobs/193173) today.

The latest msgpack version, when run with the Java 8 VM breaks:

[code]

Note that I've used JRuby 9.3 above, but it also happens on 9.2, since the i

[2022-01-20 13:10] tagomoris commented on #239
Does it mean every laptop for the release operation should run Java 8 at those time? Hmm...
Building `.gem` on CI (w/ Java 8 probably?) is an option. I'm considering other options.

[2022-01-20 14:02] ivoanjo commented on #239
Yeah, that would be the most reliable option.

Running the build in docker would also work (assuming, of course, you want to and can run Docker on your machine). Or any other Linux VM; I say docker because if you already have it installed it's probably the easiest way.

[2022-01-21 00:17] ahorek commented on #239
unfortunately, in rare cases, java 9+ binaries aren't backward compatible with java 8 even in java 8 compatibility mode

building a gem on Java 8 is one option, but there's a workaround https://github.com/msgpack/msgpack-ruby/pull/240

[2022-01-21 01:36] tagomoris commented on #239
@ivoanjo I've pushed a pre-release version `1.4.4.pre1` with a compile option for older Java platforms.
Could you try it in your environment?
https://rubygems.org/gems/msgpack/versions/1.4.4.pre1-java

[2022-01-21 15:16] ivoanjo commented on #239
Thanks for the amazingly fast turnaround! I can confirm this works fine on JRuby 9.3 and latest 9.2 for dd-trace-rb. I did see an issue with older 9.2 releases, but I'll file a separate ticket for it, since it's a different issue.

[2022-01-21 15:24] ivoanjo commented on #239
Actually, scratch that. I found that #228 breaks JRuby 9.2.0.0, but works from 9.2.1.0 on.

So... I don't think it's worth opening an issue for; I'll leave a note on the PR, but if someone out there is running 9.2.0.0 in 2022: please, please don't :)

[2022-01-21 15:40] tagomoris commented on #239
This change will be updated and v1.4.4 will be shipped after the release of rake-compiler.
https://github.com/msgpack/msgpack-ruby/pull/241

[2022-01-21 15:49] ahorek commented on #239
well, it shouldn't be a big deal for JRuby 9.2.0.0 users to upgrade to any supported version in the 9.2.x.x line. We can add a compatibility switch, but I agree it's not worth it just to support this particular version only. There's really no rational reason to stay on that version these days.

[2022-01-22 09:10] tagomoris commented on #239
I've released `v1.4.4` which should fix this issue.

[2022-01-27 08:31] ivoanjo commented on #239
Happy with the fix, I think this can be closed now! :)

[2022-01-27 08:31] #239 closed

[2022-01-27 08:36] casperisfine opened #243 "Allow to register native types as extensions"
Related: https://github.com/msgpack/msgpack-ruby/issues/57
Ref: https://github.com/msgpack/msgpack/issues/206

The message pack spec doesn't have support for big nums, which sometimes cause issues when serializing arbitrary data.

It would be nice if we could register a custom type for `Integer`, that would be called when the number is too big, e.g. something like:

[code]

[2022-02-08 19:19] casperisfine opened #255 "Idea: Specialized bufferless Unpacker for strings"
### Context

As you may have seen in my recent performance PRs, I'm trying to improve `msgpack` performance for our use case.

We use it a lot for caches etc, so our main use case looks like:

[code]

And the payload are of very varying size, some are fairly small. Parsing wise `msgpack` is very fast, but there's a fairly high flat cost for instantiating a new `Packer / Unpacker` which I'm trying

[2022-02-09 01:33] tagomoris commented on #255
@casperisfine I want to hear more details about your use case before checking your idea deeply.
My (our) assumption of usage is to instantiate packer/unpacker via a factory, then to use those in following many serialization/deserialization operations. If you do so, instantiation costs should be ignorable.

What does prevents you from a such way? Inconvenient methods of packer/unpacker?
In other wo

[2022-02-09 07:27] casperisfine commented on #255
Sure. I recently open source a large part of our code around this: https://github.com/Shopify/paquito:

  - https://github.com/Shopify/paquito/blob/master/lib/paquito/codec_factory.rb
  -  https://github.com/Shopify/paquito/blob/master/lib/paquito/types.rb
  - https://github.com/Shopify/paquito/blob/master/lib/paquito/types/active_record_packer.rb

We have many use case, but I'll focus on one to m

[2022-02-09 10:59] casperisfine commented on #255
Ok, so I tried to implement pooling again: https://github.com/Shopify/paquito/pull/4/files#diff-4e8bf10e0385f27cde5a6ed34a1a9bad350bb00044fe1efadea6092d7986cc5c

It's indeed much faster (`msgpack 1.4.4`):

[code]

A couple notes:

There is `Packer.clear` and `Unpacker.reset`, could be nice for both to have either `clear` or `reset`.

Also I think it would make sense to have this baked in `MessageP

[2022-02-10 05:19] tagomoris commented on #156
Let me close this because there are no additional information here and https://github.com/msgpack/msgpack-cli/issues/290
Please reopen this if it still is.

[2022-02-10 05:19] #156 closed

[2022-02-10 05:22] tagomoris commented on #176
Those files are for users who want to run benchmarks in their environments.
I don't think it's a problem, but reopen this if it is.

[2022-02-10 05:22] #176 closed

[2022-02-10 05:46] tagomoris commented on #224
IIUC, this feature request is for a kind of container objects, like Hash and Array.
In the case of Hash and Array, msgpack-ruby calls `#to_msgpack` of contained objects recursively, and `#to_msgpack` receives `Packer` or `IO`(-like) objects as its argument. It can prevent instantiating packers recursively.
(See https://github.com/msgpack/msgpack-ruby/blob/master/lib/msgpack/core_ext.rb )

So, is i

[2022-02-10 05:54] tagomoris commented on #243
I'm not positive to support this feature because `Integer` objects will be packed into 2 (or more?) different msgpack types. It seems too complicated for users. It will happen if the value is too big for `unsigned long long`. What will happen if we register `Float`?
@casperisfine Do you have any use cases other than `Integer`?

[2022-02-10 06:05] tagomoris commented on #243
And an idea comes up: we may be able to solve the problem of too big `Integer` by overriding `Integer#to_msgpack_with_packer` method (defined [here](to_msgpack_with_packer(packer))).
This method will just call `packer#write_int` method. We can call `packer#write_ext` in `rescue RangeError` instead.

Yes, it is a little hacky. But IMO it's better to contain this code in this gem as an opt-in module

[2022-02-10 06:20] tagomoris commented on #255
I prefer pooling because of its maintenance cost. There are not so many maintainers (as you may know 😛) so I want to keep the implementation size as small as possible. Completely different Unpacker implementation seems too big to me.

I don't have clear idea about handling Unpacker options for pooled objects, though.

[2022-02-10 07:50] casperisfine commented on #243
I don't think most users would really be concerned about the serialization format. Usually when you use msgpack extensions it's because you are both producer and consumer, so "complexity" of the format doesn't really enter into account.

Likely nothing, as Float would always fit? Maybe you'd prefer some more explicit `register_bigint` kind of API?

My problem with the `to_msgpack*` methods, is tha

[2022-02-10 07:54] casperisfine commented on #255
What if we had `Unpacker#symbolize_keys=` ? Or something like that?

(untested pseudo code)
[code]

[2022-02-10 08:29] casperisfine commented on #255
On a side note, not that I'm advocating for making the code more complicated than necessary, but know that we use `msgpack` a lot, so we're committed to help maintaining it.

[2022-02-10 08:33] tagomoris commented on #255
That seems to not work well because `opts` of Unpacker are also passed to its internal Buffer when initialized.
So, how about having multiple pools per `opts.hash`?

[2022-02-10 08:34] tagomoris commented on #255
That's great to hear! Currently, I'm ok, but I'll keep it in my mind ❤️

[2022-02-10 08:39] casperisfine commented on #255
My worry about this is is that `Unpacker` has 3 boolean options right now, so that's a lot of pools.

I think instead we could accept the options on the factory initializer, and raise if you pass options to a factory that has pooling enabled. e.g.:

[code]

[2022-02-10 08:43] casperisfine commented on #243
By the way, we already kinda have this behavior for `String / Array / Hash` subclasses:

[code]

I know considering `bigint` as a subclass of `Integer` is a bit of a stretch, but conceptually it makes sense to me.

[2022-02-10 08:57] tagomoris commented on #243
I know the behavior about `String` / `Array` / `Hash` subclasses. I would be ok too if Ruby still has `Bignum` class... 🤔

Performance doesn't matter. Packer/Unpacker is already calling Ruby methods for every single integer after https://github.com/msgpack/msgpack-ruby/pull/135
Defining methods globally is actually a problem. Hmm...

Options (`(...)` is my current feeling):
* Allow registering nat

[2022-02-10 09:05] tagomoris commented on #243
There's a very long thread https://github.com/msgpack/msgpack/issues/206

[2022-02-10 09:12] casperisfine commented on #255
Yes.

[2022-02-10 09:20] casperisfine commented on #243
Hum, this discussion didn't seem to go anywhere :/

[2022-02-10 09:26] casperisfine commented on #243
I'm not sure I follow. `MessagePack.dump(42)` won't call `Integer#to_msgpack`.

[2022-02-10 14:57] casperisfine commented on #255
Actually, once the `pool` is created, we don't really want to allow `register_type` etc anymore. So maybe a simpler interface would be something like:

[code]

This can be done purely in Ruby I think.

[2022-02-11 00:06] pvalena commented on #176
This was supposed to be RFE. IMHO the files should either have executable bit (`chmod +x`) added, or the `#!/bin/sh` removed. It's an inconsistency, and therefore flagged by linter on Fedora.

[2022-02-11 20:52] pvalena opened #265 "`Compaction isn't available on this platform`"
Hello,

while doing update to msgpack 1.4.4 for Fedora, I've encountered issue on ppc64le (exclusively). Part of Fedora package build, we run the test suite.
I'm hitting similar issue to https://bugs.ruby-lang.org/issues/18133:
[code]

[2022-02-14 05:08] tagomoris commented on #255
Having a dedicated object `pool` sounds nice.
It seems almost equal to the proxy object I suggested [here](https://github.com/msgpack/msgpack-ruby/issues/255#issuecomment-1033239444). (Or inequal... I don't take care of it).

[2022-02-14 05:14] tagomoris commented on #243
My current preferable idea is:

Because:
* We don't have any other use cases of registering native types as extensions except for Integer
* Adding a generic feature for a specific use case is a bad idea
  * Users may use it in a wrong way
  * We need to maintain a very generic feature (and complex code) for a specific use case (and many wrong ways)
* We'll be able to update a specific feature in t

[2022-02-14 09:29] casperisfine commented on #243
To be fair I'm trying to think of other native types potentially impacted by this, but I don't think there's any. I don't think Ruby Float could possibly overflow.

So yes, I'm ok with this, how do you see the interface? Something like:

 - `register_type(-42, Integer, bigint: true)`?
 -  `register_bigint_type(-42, ...)`?

[2022-02-14 15:06] casperisfine commented on #255
Implemented as https://github.com/msgpack/msgpack-ruby/pull/266

[2022-02-15 00:41] tagomoris commented on #243
This looks good because we already have the `optimized_symbols_parsing` option only for `Symbol`. We'll be able to follow its way.
So, my request is: the option name should be long and descriptive.

[2022-02-15 08:15] casperisfine commented on #243
Absolutely, I just wasn't very inspired yesterday.

What about `oversized_integer_extension: true` ?

[2022-02-15 11:45] tagomoris commented on #243
LGTM > `oversized_integer_extension`

[2022-02-22 12:37] #243 closed

[2022-02-22 13:40] tagomoris opened #269 "Maintain the maintenance team members"
This is the TODO issue to @tagomoris

Todo:
* maintain the team members of msgpack `Ruby Master` (to remove some who didn't do any commitments in years)
* add some new maintainers (GitHub members and RubyGem owners)

[2022-02-23 10:03] #255 closed

[2022-04-07 08:20] casperisfine commented on #224
Implemented in https://github.com/msgpack/msgpack-ruby/pull/261, and released in 1.5.0 (1.5.1 has a fix for it though). Closing.

[2022-04-07 08:20] #224 closed

[2022-04-14 02:34] frankcrc opened #277 "Does msgpack_each support nested calls in design principle?"
Hi,

I'm using fluentd to collect logs. I saw nested calls in error handle method of fluent-plugin-elasticsearch, and I simplified it to the following code,

[code]

Let's assume chunk has 500 messages inside. If I comment out the nested call, count would be 500 finally. Otherwise, count would be less than 500.

So I want to ask if msgpack_each support nested calls in design principle.

Please hel

[2022-04-23 16:42] shorowit opened #278 "Unpack "end of buffer reached" error on Windows"
I'm using v1.4.2 w/ ruby 2.7.2 and have software that is trying to read msgpack files produced by a different application.

On Linux, all of the msgpack files are unpacked successfully, while on Windows, some msgpack files are successfully unpacked while others produce an "end of buffer reached" error. It is 100% reproducible.

I am unpacking the msgpack files like so:
[code]

[This file](https://

[2022-04-25 11:59] jmarrec commented on #278
I can reproduce the error on windows (and success on linux) with msgpack-1.5.1 as well.

[2022-04-27 22:25] shorowit commented on #278
One more datapoint: I was able to load both msgpack files in [this online tool](https://toolslick.com/conversion/data/messagepack-to-json) (after first [converting to Base64](https://base64.guru/converter/encode/file)). Since it works using this online tool and works on Linux, I assume the problem is with msgpack-ruby and not the msgpack file itself.

[2022-04-28 00:28] tagomoris commented on #278
I can't investigate it because I don't have Windows environments.
Can anyone make a minimized problematic data or dig this problem?

[2022-04-28 11:31] jmarrec commented on #278
Here's a MCVE:

eplusout_monthly.json:

[code]

test.rb

[code]

[code]

[2022-04-28 11:36] jmarrec commented on #278
Actually, this is enough:

[code]

[2022-04-28 13:20] jmarrec commented on #278
One liner MCVE:

`ruby -e "require 'msgpack'; File.write('repacked2.msgpack', MessagePack.pack([295138067.59645236])); MessagePack.unpack(File.read('repacked2.msgpack'))"`

[2022-04-28 13:36] jmarrec commented on #278
Here's a github actions run where I use that one liner, as you can see it works on mac and ubuntu, but not on windows: https://github.com/jmarrec/test-Github-Actions/runs/6211912904?check_suite_focus=true

[2022-04-28 15:05] tagomoris commented on #278
I'm guessing that text mode file I/O is tweaking bytes of msgpack on Windows.
How does it work if you specify binary mode I/O explicitly?

[2022-04-28 15:09] jmarrec commented on #278
@tagomoris

[code]

That works indeed.

[2022-04-28 15:33] shorowit commented on #278
Confirmed that using `mode: 'rb'` works for me. Thank you, @tagomoris!

[2022-04-29 02:25] tagomoris commented on #278
MessagePack is a binary serialization format, and it's obvious that we need to read/write binary data. So, for now, we don't have any good place to be updated.
@jmarrec @shorowit Please send us a pull request if you find it.

[2022-04-29 02:25] #278 closed

[2022-04-29 07:03] jmarrec commented on #278
Haha, it wasn't _that_ obvious to us at least given this issue :D

I have proposed a README.md update in #280 which would make it explicit by adding just two lines

[2022-05-02 02:18] JohnOHFS commented on #195
@cmolina Thanks.  This was the only thing that worked after countless hours trying!

[2022-05-26 03:04] npezza93 opened #283 "Extra bytes when loading string"
I'm attempting to register an object for packing and unpacking. In this case an array of stripe objects.
It seems to handle individual objects just fine but if you put multiple into an array, it errors out.

I've tried updating the packer and unpacker to where it doesnt try to parse the stripe object or reconstruct it but im still getting a `MessagePack::MalformedFormatError: 2 extra bytes after t

[2022-05-26 06:52] tagomoris commented on #283
@casperisfine does this relates to #276?
(Sorry for the rate review on it)

[2022-05-26 13:06] casperisfine commented on #283
@tagomoris yes, I just tried my branch and it fixes it:

[code]

[2022-05-27 02:21] tagomoris commented on #283
I've released `v1.5.2` with the fix #276.
I can't check the script works well with it for now (due to a DNS problem), though.

[2022-05-27 02:32] tagomoris commented on #283
It runs well with msgpack 1.5.2 on my laptop. Thank you for reporting @npezza93 and fixing it @casperisfine !

[2022-05-27 02:57] npezza93 commented on #283
Swwet, thanks @tagomoris! Looks like everything is working in 1.5.2

[2022-05-27 02:57] #283 closed

[2022-06-28 06:06] #269 closed

[2022-07-19 17:22] chrisseaton commented on #13
I'm suggesting we close this because:

* it's speculative feature request - can't be too critical to have as it's not been mentioned since 2013
* `MessagePack::Buffer` is not supposed to be a general utility

If someone can show a pressing requirement, or a good example of where it makes code using this gem much better, we can reconsider.

[2022-07-19 17:23] chrisseaton commented on #105
Have you got an examples of incompatibilities?

If not I think I'm likely to close this pretty old issue.

[2022-07-19 18:33] chrisseaton commented on #119
Is anyone actively requesting this API today? Does someone need it and they're having to do a hack to get around it? Anything like that?

[2022-07-19 18:36] chrisseaton commented on #149
Where is the frozen factory check needed?

[2022-07-19 18:40] chrisseaton commented on #118
Seems like some IO uses this buffer size option, which has a sensible default, and some try to read it all

[code]

[2022-07-19 18:55] chrisseaton commented on #118
`read_raw_body_begin` to `read_raw_body_cont` to `msgpack_buffer_read_to_string` to `_msgpack_buffer_read_from_io_to_string`, which ignores the buffer size.

[2022-07-19 19:00] chrisseaton commented on #118
I think I have a fix - merge #289 before I open it as a PR.

[code]

[2022-07-19 19:10] chrisseaton commented on #138
Useful information, but closing as not a bug unless someone has an issue with the behaviour.

[2022-07-19 19:10] #138 closed

[2022-07-19 19:22] chrisseaton commented on #277
This seems contrary to normal Ruby idioms to me. You can't do the same with `Array#each` for example.

[2022-07-20 12:10] chrisseaton commented on #157
I can reproduce

[code]

But I'm not sure this is a bug. You tried to read something - it wasn't there so you got an error. It doesn't push back into the buffer what it used to do that. Is it normal to expect data something consumed in a failed read to be pushed back?

Open to discussion.

[2022-07-20 12:15] chrisseaton commented on #140
Yeah isn't it blocked because it's trying to read from the socket? If you put some data into the socket from the other end does it work?

[2022-07-20 23:09] larry-reid-shopify opened #291 "Seg Fault in #load"
When `MessagePack::DefaultFactory#load` is configured to pack `Symbol`s and is run on the string below, it produces a seg fault.

Ruby version: ruby 3.1.2p20 (2022-04-12 revision 4491bb740a) [x86_64-linux]
msgpack version: msgpack-1.5.3

Steps to reproduce:

[code]

Here's the top of the seg fault dump:

[code]

[2022-07-21 11:43] casperisfine commented on #291
Thanks, I'm able to repro and I'll dig into this.

[2022-07-21 11:48] casperisfine commented on #291
Ok, so the bug is here:

[code]

`str=8` means `str` is `nil`. I think there is a logic bug because extension strings can be `nil` and we don't deal with that.

[2022-07-21 11:49] casperisfine commented on #291
Test case reduced to:

[code]

[2022-07-21 14:34] #291 closed

[2022-07-25 18:31] #118 closed

[2022-08-08 09:58] #119 closed

[2022-08-22 12:09] #13 closed

[2022-08-22 12:09] #105 closed

[2022-08-22 12:10] #121 closed

[2022-08-22 12:11] #157 closed

[2022-08-22 12:12] chrisseaton commented on #277
Open to discussion?

[2022-08-22 13:06] #140 closed

[2022-08-22 14:42] frankcrc commented on #277
Sorry for replying late. As you comment, maybe it should not code like that, and i think there is no need to further discuss.

And I had commit a PR to fix that problem, by avoiding nested callding. :)

[2022-08-22 14:45] #277 closed

[2022-08-23 07:24] aditya109 opened #295 "msgpack.jar seems to be missing in v1.5.5"
Facing an issue while running the following code:
[code]
Gemfile
[code]
Gemfile.lock:
[code]
Getting the following error:
[code]

[2022-08-23 07:25] byroot commented on #295
Hum, I may have borked the release. I'll have a look.

[2022-08-23 07:28] byroot commented on #295
Yes I did -_-

[2022-08-23 07:33] byroot commented on #295
Fixed in 1.5.6. Thanks for the report.

[2022-08-23 07:33] #295 closed

[2022-08-23 07:37] aditya109 commented on #295
@byroot sorry but do we have an ETA .... this seems to be having affecting our prod.

[2022-08-23 07:38] byroot commented on #295
1.5.6 is out already. Also 1.5.5 didn't change anything for jruby, so you could just stick with 1.5.4.

[2022-08-23 07:46] aditya109 commented on #295
@byroot the issue our service does not use msgpack directly... it uses aerospike gem which has a transitive dependency on msgpack.
The issue is the aerospike gem has always picks latest.
[code]

[2022-08-23 07:59] byroot commented on #295
It's fine.

[2022-08-24 12:42] #127 closed

[2022-09-04 20:52] deb-anjos commented on #195
@cmolina Many thanks! After a day trying this actually solved the problem.

[2022-09-20 02:39] ioquatix opened #305 "Correct way to pack and unpack `Struct` instances."
It would be nice to give some examples of how to efficiently pack and unpack `Struct` instances.

[code]

This is what I'm doing, but the internal usage of `MessagePack.unpack` feels a bit wrong.

[2022-09-20 06:58] byroot commented on #305
Yes it is. You want to use a recursive type: https://github.com/msgpack/msgpack-ruby#extension-types

Also you'd probably save yourself a lot of trouble if you used a Factory pool rather than build the packer and unpacker: https://www.rubydoc.info/gems/msgpack/MessagePack/Factory#pool-instance_method

[2022-09-20 07:27] ioquatix commented on #305
It's not clear from the example what `recursive: true` does. Does it give the extra packer/unpacker argument? Can you use it on Packer and Unpacker instances?

[2022-09-20 07:32] byroot commented on #305
What extra packer? What argument?

`recursive: true` allow the extension proc to read or write the stream. So that allow you to serialize your custom types into a combinaison of natively supported types rather than having to pack it yourself into a string.

Yes, but I heavily recommend to not work with packer and unpacker instances, always use a factory.

[2022-10-15 03:34] ioquatix commented on #305
Okay, that makes perfect sense, and on reading the documentation again I see a good example of `Point` struct. Thanks!

[2022-10-15 03:34] #305 closed

[2022-10-26 01:28] qcn opened #309 "Packer can overwrite earlier parts of its buffer in version 1.6.0"
Since upgrading to msgpack 1.6.0 we've been seeing occasional data corruption when packing, which did not happen with 1.5.6. The behaviour is non-deterministic and we haven't been able to explicitly reproduce it yet, but we have several examples of the corrupted data. The symptom is that some bytes from later in the packed data are copied over bytes from earlier, so those bytes appear twice in the

[2022-10-26 09:35] byroot commented on #309
Thank you for the report.

I went over the diff but don't see what could possibly cause this: https://github.com/msgpack/msgpack-ruby/compare/v1.5.6...v1.6.0

Could you tell us more how these payloads are generated? Do you call `Factory#dump` or `Packer#pack`? Do you re-use the packer, is it used concurrently? etc.

[2022-10-27 03:31] qcn commented on #309
Thanks for the response! We call `MessagePack.pack` each time we pack data so it'll be using the defaults, and it is possible for it to run concurrently.

[2022-10-27 08:44] byroot commented on #309
Thanks for the extra information.

One last question, do you call `MessagePack.pack(object, io)` or `MessagePack.pack(object)` ?

[2022-10-27 08:46] byroot commented on #309
What's weird is that `MessagePack.pack` create a new `Packer` every time, so I don't get how we could have shared state here: https://github.com/msgpack/msgpack-ruby/blob/0c1119be839b332733b13e02b4406524ee0b4499/lib/msgpack.rb#L38-L42

[2022-10-27 09:33] qcn commented on #309
We call `MessagePack.pack(object)`.

The repetition is from within the same msgpacked object, so my first instinct would be that the problem doesn't arise from shared state between packers, but I don't think I have enough context to say for sure.

[2022-10-27 09:36] byroot commented on #309
Ok, thank you. It could be a bug in the buffer implementation, but again, quite unsure what change in 1.6.0 could have caused this.

I doubt we'll be able to debug this without a reproduction.